shared/imports/_verify_wf02_after_import.json
[
  {
    "updatedAt": "2026-04-11T08:04:12.283Z",
    "createdAt": "2026-04-03T12:50:22.767Z",
    "id": "wf03CaptionAutoSchedH1",
    "name": "WF-02 Generate Caption Auto Schedule",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 1
              }
            ]
          }
        },
        "id": "deca3fdb-f671-40a7-a466-0eaa7cd10e90",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2480,
          260
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "fileSelector": "/files/ready/*/intake_result.json",
          "options": {}
        },
        "id": "3d53f851-fc73-4d70-9940-ef1ce0dcc1e3",
        "name": "Read Intake Result Files",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -2260,
          260
        ]
      },
      {
        "parameters": {
          "operation": "fromJson",
          "binaryPropertyName": "data",
          "destinationKey": "intake_result",
          "options": {
            "keepSource": "both"
          }
        },
        "id": "59ff8d95-ae56-42de-a491-a2fe882f7257",
        "name": "Extract Intake Result JSON",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -2040,
          260
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const intake = $json.intake_result || {};\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nconst manifestPathAbs = toContainerPath(intake.manifest_path);\nconst captionResultPathAbs = manifestPathAbs ? manifestPathAbs.replace(/manifest\\.json$/, 'caption_result.json') : null;\n\nreturn {\n  json: {\n    job_id: intake.job_id || null,\n    manifest_path: manifestPathAbs,\n    caption_result_path: captionResultPathAbs,\n    intake_status: intake.status || null,\n    platform_targets: intake.platform_targets || [],\n    clip_path: intake.clip_path || null,\n    eligible_for_caption: intake.status === 'ASSETS_VALID' && Boolean(manifestPathAbs) && Boolean(captionResultPathAbs),\n    intake_result: intake\n  }\n};"
        },
        "id": "4d4fd24c-c3fe-4133-bb0f-cdbbc7337b71",
        "name": "Parse Intake Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1820,
          260
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "5e13bccf-2097-4602-97a5-fabf66374894",
                "leftValue": "={{ $json.eligible_for_caption }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true,
                  "name": "filter.operator.true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8442dffd-d601-41ca-a4af-b621fed14066",
        "name": "Eligible For Caption?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1600,
          260
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "fileSelector": "={{ $json.caption_result_path }}",
          "options": {}
        },
        "id": "5521d826-b5dc-4dae-8388-55996794419c",
        "name": "Read Existing Caption Result",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -1380,
          140
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 2,
          "options": {
            "includeUnpaired": true
          }
        },
        "id": "79ee5c7a-b303-44eb-88d5-0eed4ebee855",
        "name": "Merge Caption Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1160,
          260
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "5cc47048-f15d-4c15-8757-4c20d4a4ae4b",
                "leftValue": "={{ $json.fileName }}",
                "rightValue": "caption_result.json",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "2530684f-ad97-4df7-a66c-2ce663ecb357",
        "name": "Already Captioned?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -940,
          260
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "fileSelector": "={{ $json.manifest_path }}",
          "options": {}
        },
        "id": "7119ee10-2179-429d-9ca9-0d999ca0d06b",
        "name": "Read Manifest File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          -720,
          360
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 2,
          "options": {}
        },
        "id": "18062457-cad8-4a0d-a43d-4d9d4acba963",
        "name": "Merge Manifest Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -500,
          360
        ]
      },
      {
        "parameters": {
          "operation": "fromJson",
          "binaryPropertyName": "data",
          "destinationKey": "manifest",
          "options": {
            "keepSource": "both"
          }
        },
        "id": "1d508df0-509b-4519-a528-834581fa9f59",
        "name": "Extract Manifest JSON",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -280,
          360
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const manifest = $json.manifest || {};\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nconst rawPlatformTargets = Array.isArray(manifest.platform_targets) && manifest.platform_targets.length > 0 ? manifest.platform_targets : ($json.platform_targets || []);\nconst captionPlatformTargets = Array.from(new Set([...rawPlatformTargets, 'youtube_shorts']));\n\nconst clips = Array.isArray(manifest.clips) && manifest.clips.length > 0\n  ? manifest.clips.map((clip, index) => {\n    const clipPath = normalizeRepoPath(clip?.clip_path || clip?.file_path || '');\n    return {\n      clip_index: index + 1,\n      clip_id: String(clip?.clip_id || 'clip_' + String(index + 1).padStart(2, '0')),\n      file_name: String(clip?.file_name || (clipPath ? clipPath.split('/').pop() : '')),\n      clip_path: clipPath,\n      clip_path_abs: toContainerPath(clipPath),\n    };\n  })\n  : [{\n    clip_index: 1,\n    clip_id: String(manifest.clip_id || 'clip_01'),\n    file_name: String(normalizeRepoPath(manifest.clip_path) || '').split('/').pop(),\n    clip_path: normalizeRepoPath(manifest.clip_path),\n    clip_path_abs: toContainerPath(manifest.clip_path),\n  }];\n\nreturn {\n  json: {\n    ...$json,\n    manifest,\n    source_video_url: manifest.source_video_url || null,\n    source_video_id: manifest.source_video_id || null,\n    source_video_title: manifest.source_video_title || null,\n    source_video_uploader: manifest.source_video_uploader || null,\n    source_video_duration: manifest.source_video_duration || null,\n    source_video_description: manifest.source_video_description || null,\n    approval_mode: manifest.approval_mode || 'required',\n    platform_targets: rawPlatformTargets,\n    caption_platform_targets: captionPlatformTargets,\n    upload_queue_targets: captionPlatformTargets.filter((platform) => ['youtube_shorts', 'facebook_reels'].includes(platform)),\n    transcript_path_abs: toContainerPath(manifest.transcript_path),\n    thumbnail_path_abs: toContainerPath(manifest.thumbnail_path),\n    clip_path_abs: toContainerPath(manifest.clip_path),\n    clips,\n    clip_count: clips.length\n  }\n};"
        },
        "id": "00d11018-24de-4a66-b7f1-533d3068e72f",
        "name": "Parse Caption Manifest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -60,
          360
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "fileSelector": "={{ $json.transcript_path_abs || '/files/__missing__/transcript.txt' }}",
          "options": {}
        },
        "id": "aa1fa4b1-c446-4920-ac71-23713bc10417",
        "name": "Read Transcript File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          160,
          220
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 2,
          "options": {
            "includeUnpaired": true
          }
        },
        "id": "0c53f10e-4684-41cc-88a6-232f41026f0d",
        "name": "Merge Transcript Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          380,
          360
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const binaryAvailable = Boolean($binary && Object.keys($binary).length > 0);\nreturn {\n  json: {\n    ...$json,\n    transcript_binary_available: binaryAvailable\n  },\n  binary: $binary\n};"
        },
        "id": "a317de95-bca4-42fc-a269-e013322a1c60",
        "name": "Detect Transcript Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          360
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "87618b10-c4d8-4612-8b27-7284e1fe0b0e",
                "leftValue": "={{ $json.transcript_binary_available }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true,
                  "name": "filter.operator.true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "72eb8931-ac89-49d1-8be8-fecb8fdbbb71",
        "name": "Has Transcript Binary?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          820,
          360
        ]
      },
      {
        "parameters": {
          "operation": "text",
          "binaryPropertyName": "data",
          "destinationKey": "transcript_text",
          "options": {
            "keepSource": "both",
            "encoding": "utf8",
            "stripBOM": true
          }
        },
        "id": "aa90c122-4eb5-412d-b0ea-4d36f49f38fb",
        "name": "Extract Transcript Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          1040,
          260
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "return {\n  json: {\n    ...$json,\n    transcript_text: '',\n    transcript_available: false\n  }\n};"
        },
        "id": "fdf7a526-ffb1-4e39-9d7a-87f1be9a99fe",
        "name": "Set Empty Transcript",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          460
        ]
      },
      {
        "parameters": {
          "operation": "read",
          "fileSelector": "/files/config/caption_ai.json",
          "options": {}
        },
        "id": "9eab4c77-6d77-4787-98e0-e7ef6609be6a",
        "name": "Read Caption Config File",
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1260,
          220
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 2,
          "options": {
            "includeUnpaired": true
          }
        },
        "id": "b9d8e7c6-1a2c-4a59-9250-18a7f62b592f",
        "name": "Merge Caption Config Context",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1480,
          360
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const defaults = {\n  openai_caption_model: 'gpt-5.4-mini',\n  openai_caption_language: 'id',\n  openai_caption_brand_voice: 'ringkas, tajam, natural, tidak clickbait murahan',\n  openai_caption_max_hashtags: '8'\n};\n\nlet config = {};\nlet configError = null;\nconst binaryFieldName = $binary ? Object.keys($binary)[0] : null;\n\nif (binaryFieldName) {\n  try {\n    const rawBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n    const parsed = JSON.parse(rawBuffer.toString('utf8'));\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n      config = parsed;\n    } else {\n      configError = 'Isi /files/config/caption_ai.json harus berupa object JSON.';\n    }\n  } catch (error) {\n    configError = 'Config caption AI lokal tidak valid: ' + (error.message || 'parse gagal');\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    caption_config_path: '/files/config/caption_ai.json',\n    caption_config_error: configError,\n    openai_api_key: String(config.openai_api_key || '').trim(),\n    openai_caption_model: String(config.openai_caption_model || defaults.openai_caption_model),\n    openai_caption_language: String(config.openai_caption_language || defaults.openai_caption_language),\n    openai_caption_brand_voice: String(config.openai_caption_brand_voice || defaults.openai_caption_brand_voice),\n    openai_caption_max_hashtags: String(config.openai_caption_max_hashtags || defaults.openai_caption_max_hashtags)\n  }\n};"
        },
        "id": "4bd7f755-2222-4d28-a333-8e0a68d937e6",
        "name": "Inject Caption Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1700,
          360
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const apiKey = String($json.openai_api_key || '').trim();\nconst model = String($json.openai_caption_model || 'gpt-5.4-mini');\nconst language = String($json.openai_caption_language || 'id');\nconst brandVoice = String($json.openai_caption_brand_voice || 'ringkas, tajam, natural, spesifik, tidak clickbait murahan');\nconst maxHashtags = Number.parseInt(String($json.openai_caption_max_hashtags || '8'), 10);\nconst transcriptText = String($json.transcript_text || '').trim();\nconst transcriptAvailable = transcriptText.length > 0;\nconst platformTargets = Array.isArray($json.platform_targets) ? $json.platform_targets : [];\nconst captionTargets = Array.isArray($json.caption_platform_targets) && $json.caption_platform_targets.length > 0 ? $json.caption_platform_targets : platformTargets;\nconst clips = Array.isArray($json.clips) && $json.clips.length > 0 ? $json.clips : [];\nconst sourceTitle = String($json.source_video_title || '').trim();\nconst sourceUploader = String($json.source_video_uploader || '').trim();\nconst sourceDescription = String($json.source_video_description || '').trim();\n\nfunction buildFailure(message) {\n  return {\n    json: {\n      ...$json,\n      transcript_available: transcriptAvailable,\n      caption_generation_status: 'failed',\n      caption_error: message,\n      caption_model: model\n    }\n  };\n}\n\nconst configError = String($json.caption_config_error || '').trim();\nif (configError) {\n  return buildFailure(configError);\n}\n\nif (!apiKey) {\n  return buildFailure('Konfigurasi OpenAI belum tersedia di /files/config/caption_ai.json atau openai_api_key kosong.');\n}\n\nconst platformCaptionSchema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    platform: {\n      type: 'string',\n      enum: ['youtube_shorts', 'facebook_reels']\n    },\n    caption: { type: 'string' },\n    hashtags: {\n      type: 'array',\n      items: { type: 'string' }\n    }\n  },\n  required: ['platform', 'caption', 'hashtags']\n};\n\nconst schema = {\n  type: 'object',\n  additionalProperties: false,\n  properties: {\n    content_angle: { type: 'string' },\n    hashtags: {\n      type: 'array',\n      items: { type: 'string' }\n    },\n    caption_pack: {\n      type: 'array',\n      items: platformCaptionSchema\n    },\n    clip_caption_pack: {\n      type: 'array',\n      items: {\n        type: 'object',\n        additionalProperties: false,\n        properties: {\n          clip_id: { type: 'string' },\n          clip_index: { type: 'number' },\n          file_name: { type: 'string' },\n          clip_path: { type: 'string' },\n          captions: {\n            type: 'array',\n            items: platformCaptionSchema\n          }\n        },\n        required: ['clip_id', 'clip_index', 'file_name', 'clip_path', 'captions']\n      }\n    }\n  },\n  required: ['content_angle', 'hashtags', 'caption_pack', 'clip_caption_pack']\n};\n\nconst promptPayload = {\n  language,\n  brand_voice: brandVoice,\n  max_hashtags: Number.isFinite(maxHashtags) ? maxHashtags : 8,\n  platform_targets: captionTargets,\n  approval_mode: $json.approval_mode || 'required',\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  source_video_title: sourceTitle || null,\n  source_video_uploader: sourceUploader || null,\n  source_video_duration: $json.source_video_duration || null,\n  source_video_description: sourceDescription ? sourceDescription.slice(0, 3000) : null,\n  clip_count: clips.length || $json.clip_count || 1,\n  clips,\n  transcript_available: transcriptAvailable,\n  transcript_text: transcriptAvailable ? transcriptText.slice(0, 12000) : null\n};\n\nconst body = {\n  model,\n  store: false,\n  input: [\n    {\n      role: 'system',\n      content: [\n        {\n          type: 'input_text',\n          text: 'Anda adalah copywriter short-form content untuk creator automation. Balas hanya dengan JSON valid sesuai schema. Gunakan bahasa yang diminta. Buat caption yang relevan, natural, dan tidak generik. Wajib isi clip_caption_pack dengan jumlah item yang sama persis seperti clips input, urutan sama, clip_id sama, dan setiap item harus punya captions untuk setiap platform_targets. Jika transcript per clip tidak tersedia, buat variasi caption yang tetap spesifik terhadap source metadata dan nomor clip, jangan mengarang fakta yang tidak didukung. caption_pack adalah fallback global per platform; clip_caption_pack adalah sumber utama untuk upload queue.'\n        }\n      ]\n    },\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'input_text',\n          text: JSON.stringify(promptPayload, null, 2)\n        }\n      ]\n    }\n  ],\n  text: {\n    format: {\n      type: 'json_schema',\n      name: 'caption_result',\n      strict: true,\n      schema\n    }\n  }\n};\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/responses',\n    headers: {\n      'Content-Type': 'application/json',\n      Authorization: 'Bearer ' + apiKey\n    },\n    body,\n    json: true,\n  });\n\n  let parsed = data.output_parsed || null;\n  let outputText = data.output_text || '';\n\n  if (!parsed) {\n    if (!outputText && Array.isArray(data.output)) {\n      for (const item of data.output) {\n        if (!Array.isArray(item.content)) continue;\n        for (const part of item.content) {\n          if (typeof part.text === 'string' && part.text.trim()) {\n            outputText = part.text;\n            break;\n          }\n        }\n        if (outputText) break;\n      }\n    }\n\n    if (!outputText) {\n      return buildFailure('OpenAI tidak mengembalikan output_text yang bisa diparse.');\n    }\n\n    parsed = JSON.parse(outputText);\n  }\n\n  return {\n    json: {\n      ...$json,\n      transcript_available: transcriptAvailable,\n      caption_generation_status: 'generated',\n      caption_model: model,\n      caption_ai_result: parsed\n    }\n  };\n} catch (error) {\n  const responseBody = error?.response?.body;\n  const responseText = typeof responseBody === 'string'\n    ? responseBody\n    : responseBody\n      ? JSON.stringify(responseBody).slice(0, 800)\n      : '';\n  const suffix = responseText ? ' :: ' + responseText : '';\n  return buildFailure((error.message || 'Gagal memanggil OpenAI Responses API.') + suffix);\n}"
        },
        "id": "9f35d628-c7d0-4955-95f8-fc2e9135dd7c",
        "name": "Generate Caption via OpenAI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          360
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "6f99ef5f-c90f-4797-b0c0-c86b4a7f8c71",
                "leftValue": "={{ $json.caption_generation_status }}",
                "rightValue": "generated",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a748c7f9-e28a-4991-9241-1b5b6c48c7ef",
        "name": "Caption Generated?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2140,
          360
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const generatedAt = new Date().toISOString();\nconst ai = $json.caption_ai_result || {};\nconst clips = Array.isArray($json.clips) ? $json.clips : [];\nconst clipCaptionPack = Array.isArray(ai.clip_caption_pack) ? ai.clip_caption_pack : [];\nconst captionWarnings = [];\n\nif (clips.length !== clipCaptionPack.length) {\n  captionWarnings.push('clip_caption_pack count mismatch: clips=' + clips.length + ' captions=' + clipCaptionPack.length);\n}\n\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-02_GENERATE_CAPTION',\n  status: 'CAPTION_GENERATED',\n  generated_at: generatedAt,\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  source_video_title: $json.source_video_title || null,\n  source_video_uploader: $json.source_video_uploader || null,\n  platform_targets: $json.platform_targets || [],\n  caption_platform_targets: $json.caption_platform_targets || $json.platform_targets || [],\n  upload_queue_targets: $json.upload_queue_targets || [],\n  approval_mode: $json.approval_mode || 'required',\n  model: $json.caption_model || null,\n  transcript_available: Boolean($json.transcript_available),\n  clip_count: clips.length,\n  clips,\n  content_angle: ai.content_angle || null,\n  hashtags: ai.hashtags || [],\n  caption_pack: ai.caption_pack || [],\n  clip_caption_pack: clipCaptionPack,\n  caption_warnings: captionWarnings,\n  next_stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS'\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    caption_result_status: result.status,\n    caption_result_payload: result\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'caption_result.json'\n    }\n  }\n};"
        },
        "id": "0a1b4120-6334-4213-b49a-7bd8f20f0855",
        "name": "Build Success Caption Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2360,
          260
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $json.caption_result_path }}",
          "dataPropertyName": "data",
          "options": {}
        },
        "id": "5e99109a-18b7-4988-a5ff-411a1afdc3f0",
        "name": "Write Success Caption Result",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          2580,
          260
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const generatedAt = new Date().toISOString();\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-02_GENERATE_CAPTION',\n  status: 'CAPTION_FAILED',\n  generated_at: generatedAt,\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  platform_targets: $json.platform_targets || [],\n  approval_mode: $json.approval_mode || 'required',\n  model: $json.caption_model || null,\n  transcript_available: Boolean($json.transcript_available),\n  error_message: $json.caption_error || 'Caption generation gagal tanpa detail.',\n  next_stage: null\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    caption_result_status: result.status,\n    caption_result_payload: result\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'caption_result.json'\n    }\n  }\n};"
        },
        "id": "18888da2-1e1d-4e48-9452-29158f91f542",
        "name": "Build Failure Caption Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2360,
          460
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $json.caption_result_path }}",
          "dataPropertyName": "data",
          "options": {}
        },
        "id": "3ab17bcf-1ffe-41c6-ac2b-2f5d2f8d4d50",
        "name": "Write Failure Caption Result",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          2580,
          460
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "return { json: { ...$json, upload_queue_platform: 'youtube_shorts' } };"
        },
        "id": "f2c009ca-fb49-41d5-bb2a-554b401db7db",
        "name": "Set YouTube Upload Queue Target",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          340
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "language": "javaScript",
          "jsCode": "const caption = $json.caption_result_payload || {};\nconst platform = String($json.upload_queue_platform || '').trim();\n\nfunction csvCell(value) {\n  const text = value === undefined || value === null ? '' : String(value);\n  if (/[\",\\n\\r]/.test(text)) {\n    return '\"' + text.replace(/\"/g, '\"\"') + '\"';\n  }\n  return text;\n}\n\nfunction normalizeRepoPath(value) {\n  if (!value) return '';\n  const normalized = String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n  if (normalized.startsWith('/files/')) return 'shared/' + normalized.slice('/files/'.length);\n  return normalized;\n}\n\nfunction normalizeHashtags(value) {\n  if (!Array.isArray(value)) return [];\n  return value\n    .map((item) => String(item || '').trim())\n    .filter(Boolean)\n    .map((tag) => tag.startsWith('#') ? tag : '#' + tag);\n}\n\nfunction findPlatformPack(packs, targetPlatform) {\n  if (!Array.isArray(packs)) return null;\n  return packs.find((pack) => pack && pack.platform === targetPlatform) || null;\n}\n\nfunction findClipPack(clip) {\n  const clipPacks = Array.isArray(caption.clip_caption_pack) ? caption.clip_caption_pack : [];\n  const clipId = String(clip.clip_id || '');\n  const clipPath = normalizeRepoPath(clip.clip_path);\n  const fileName = String(clip.file_name || (clipPath ? clipPath.split('/').pop() : ''));\n\n  for (const item of clipPacks) {\n    if (!item) continue;\n    const itemClipPath = normalizeRepoPath(item.clip_path);\n    const itemFileName = String(item.file_name || (itemClipPath ? itemClipPath.split('/').pop() : ''));\n    const matched = String(item.clip_id || '') === clipId || itemClipPath === clipPath || itemFileName === fileName;\n    if (!matched) continue;\n    const pack = findPlatformPack(item.captions || item.caption_pack, platform);\n    if (pack) return pack;\n  }\n  return null;\n}\n\nconst clips = Array.isArray(caption.clips) && caption.clips.length > 0\n  ? caption.clips\n  : [{\n    clip_index: 1,\n    clip_id: 'clip_01',\n    file_name: String(caption.clip_path || '').split('/').pop(),\n    clip_path: caption.clip_path || '',\n  }];\nconst fallbackPack = findPlatformPack(caption.caption_pack, platform) || (Array.isArray(caption.caption_pack) ? caption.caption_pack[0] : null) || {};\nconst baseWarning = String(caption.clip_caption_source || '') === 'generated_variant_from_global_metadata'\n  ? 'caption unik dari metadata global; review singkat sebelum publish'\n  : '';\n\nconst rows = clips.map((clip, index) => {\n  const clipPath = normalizeRepoPath(clip.clip_path);\n  const fileName = String(clip.file_name || (clipPath ? clipPath.split('/').pop() : ''));\n  const clipPack = findClipPack(clip);\n  const pack = clipPack || fallbackPack;\n  const captionText = String(pack.caption || '').trim();\n  const hashtags = normalizeHashtags(pack.hashtags || fallbackPack.hashtags || caption.hashtags);\n  const hasClipCaption = Boolean(clipPack);\n  const warning = !hasClipCaption\n    ? 'caption fallback global; belum unik per clip'\n    : baseWarning;\n  const needsReview = Boolean(warning);\n  return {\n    job_id: caption.job_id || '',\n    platform,\n    clip_index: Number(clip.clip_index || index + 1),\n    clip_id: String(clip.clip_id || 'clip_' + String(index + 1).padStart(2, '0')),\n    file_name: fileName,\n    clip_path: clipPath,\n    file_exists: 'unknown_in_n8n',\n    caption: captionText,\n    hashtags: hashtags.join(' '),\n    caption_full: [captionText, hashtags.join(' ')].filter(Boolean).join(' ').trim(),\n    caption_source: hasClipCaption ? (caption.clip_caption_source || 'clip_caption_pack') : 'caption_pack_fallback',\n    needs_review: String(needsReview),\n    warning,\n    upload_status: 'todo',\n    published_url: '',\n    notes: '',\n  };\n});\n\nconst headers = [\n  'job_id',\n  'platform',\n  'clip_index',\n  'clip_id',\n  'file_name',\n  'clip_path',\n  'file_exists',\n  'caption',\n  'hashtags',\n  'caption_full',\n  'caption_source',\n  'needs_review',\n  'warning',\n  'upload_status',\n  'published_url',\n  'notes',\n];\nconst csv = [\n  headers.join(','),\n  ...rows.map((row) => headers.map((header) => csvCell(row[header])).join(',')),\n].join('\\n') + '\\n';\nconst outputPath = String(caption.caption_result_path || '')\n  .replace(/^shared\\//, '/files/')\n  .replace(/caption_result\\.json$/, 'upload_queue_' + platform + '.csv');\nconst result = {\n  platform,\n  upload_queue_path: outputPath,\n  upload_queue_path_repo: outputPath.replace(/^\\/files\\//, 'shared/'),\n  upload_queue_rows: rows.length,\n  upload_queue_rows_needing_review: rows.filter((row) => row.needs_review === 'true').length,\n};\n\nreturn {\n  json: {\n    ...$json,\n    upload_queue_result: result,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'upload_queue_' + platform + '.csv',\n    }\n  }\n};"
        },
        "id": "1a233bc2-574f-4427-a054-0dc388b9c311",
        "name": "Build YouTube Upload Queue CSV",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3020,
          340
        ]
      },
      {
        "parameters": {
          "fileName": "={{ $json.upload_queue_result.upload_queue_path }}",
          "dataPropertyName": "data",
          "options": {}
        },
        "id": "5f82841d-42b8-4993-abd4-7d83f6d91be1",
        "name": "Write YouTube Upload Queue CSV",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [
          3240,
          340
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Intake Result Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Intake Result Files": {
        "main": [
          [
            {
              "node": "Extract Intake Result JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Intake Result JSON": {
        "main": [
          [
            {
              "node": "Parse Intake Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Intake Result": {
        "main": [
          [
            {
              "node": "Eligible For Caption?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Caption Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Eligible For Caption?": {
        "main": [
          [
            {
              "node": "Read Existing Caption Result",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Read Existing Caption Result": {
        "main": [
          [
            {
              "node": "Merge Caption Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Caption Context": {
        "main": [
          [
            {
              "node": "Already Captioned?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Already Captioned?": {
        "main": [
          [],
          [
            {
              "node": "Read Manifest File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Manifest Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Manifest File": {
        "main": [
          [
            {
              "node": "Merge Manifest Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Manifest Context": {
        "main": [
          [
            {
              "node": "Extract Manifest JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Manifest JSON": {
        "main": [
          [
            {
              "node": "Parse Caption Manifest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Caption Manifest": {
        "main": [
          [
            {
              "node": "Read Transcript File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Transcript Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Transcript File": {
        "main": [
          [
            {
              "node": "Merge Transcript Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Transcript Context": {
        "main": [
          [
            {
              "node": "Detect Transcript Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Transcript Binary": {
        "main": [
          [
            {
              "node": "Has Transcript Binary?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Transcript Binary?": {
        "main": [
          [
            {
              "node": "Extract Transcript Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Empty Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Transcript Text": {
        "main": [
          [
            {
              "node": "Read Caption Config File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Caption Config Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Empty Transcript": {
        "main": [
          [
            {
              "node": "Read Caption Config File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Caption Config Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inject Caption Config": {
        "main": [
          [
            {
              "node": "Generate Caption via OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Caption via OpenAI": {
        "main": [
          [
            {
              "node": "Caption Generated?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Caption Generated?": {
        "main": [
          [
            {
              "node": "Build Success Caption Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Failure Caption Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Caption Result": {
        "main": [
          [
            {
              "node": "Write Success Caption Result",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set YouTube Upload Queue Target",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Failure Caption Result": {
        "main": [
          [
            {
              "node": "Write Failure Caption Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Caption Config File": {
        "main": [
          [
            {
              "node": "Merge Caption Config Context",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Caption Config Context": {
        "main": [
          [
            {
              "node": "Inject Caption Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set YouTube Upload Queue Target": {
        "main": [
          [
            {
              "node": "Build YouTube Upload Queue CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build YouTube Upload Queue CSV": {
        "main": [
          [
            {
              "node": "Write YouTube Upload Queue CSV",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "95b99839-e170-458f-af5f-a5ea75508ff8",
    "activeVersionId": null,
    "versionCounter": 13,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-04-03T12:50:22.767Z",
        "createdAt": "2026-04-03T12:50:22.767Z",
        "role": "workflow:owner",
        "workflowId": "wf03CaptionAutoSchedH1",
        "projectId": "azKshke2Na2MjhqP",
        "project": {
          "updatedAt": "2026-04-03T03:05:05.080Z",
          "createdAt": "2026-04-01T15:13:37.330Z",
          "id": "azKshke2Na2MjhqP",
          "name": "Kahfi Smith <alkahfiidev@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "51bd82c2-eb7e-4495-87d4-cabc19896c4f"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
