shared/imports/_wf03-recovered.json
[{"updatedAt":"2026-04-09T14:17:27.683Z","createdAt":"2026-04-06T14:03:33.028Z","id":"wf04YoutubePublishAuto01","name":"WF-03 Publish YouTube Shorts Auto Schedule","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"d6156c77-4d27-4a88-9177-c7162c481fab","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3160,260]},{"parameters":{"operation":"read","fileSelector":"/files/ready/*/caption_result.json","options":{}},"id":"7d0db776-c2c2-43f8-8d8f-7b93c8a5b608","name":"Read Caption Result Files","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2940,260]},{"parameters":{"operation":"fromJson","binaryPropertyName":"data","destinationKey":"caption_result","options":{"keepSource":"both"}},"id":"f66c869e-a7bb-4f32-b4a4-fd91bc1d92b7","name":"Extract Caption Result JSON","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-2720,260]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const caption = $json.caption_result || {};\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nfunction deriveTitle(text, fallback) {\n  const source = String(text || '').replace(/\\s+/g, ' ').trim();\n  if (!source) return fallback;\n  const sentence = source.split(/[.!?\\n]/).map((s) => s.trim()).filter(Boolean)[0] || source;\n  return sentence.slice(0, 100).trim() || fallback;\n}\n\nconst platformTargets = Array.isArray(caption.platform_targets) ? caption.platform_targets : [];\nconst captionPacks = Array.isArray(caption.caption_pack) ? caption.caption_pack : [];\nconst youtubePack = captionPacks.find((item) => item && item.platform === 'youtube_shorts') || captionPacks[0] || null;\nconst hashtags = Array.isArray(youtubePack?.hashtags) && youtubePack.hashtags.length > 0\n  ? youtubePack.hashtags\n  : (Array.isArray(caption.hashtags) ? caption.hashtags : []);\nconst normalizedHashtags = hashtags.map((item) => String(item || '').trim()).filter(Boolean);\nconst captionText = String(youtubePack?.caption || '').trim();\nconst descriptionParts = [captionText, normalizedHashtags.join(' ')].filter(Boolean);\nconst manifestPathAbs = toContainerPath(caption.manifest_path);\nconst captionResultPathAbs = toContainerPath(caption.caption_result_path);\nconst youtubePublishResultPathAbs = manifestPathAbs\n  ? manifestPathAbs.replace(/manifest\\.json$/, 'youtube_publish_result.json')\n  : null;\nconst derivedTitle = deriveTitle(captionText, 'Shorts ' + String(caption.job_id || '').trim());\n\nreturn {\n  json: {\n    job_id: caption.job_id || null,\n    manifest_path: manifestPathAbs,\n    caption_result_path: captionResultPathAbs,\n    youtube_publish_result_path: youtubePublishResultPathAbs,\n    source_video_url: caption.source_video_url || null,\n    source_video_id: caption.source_video_id || null,\n    platform_targets: platformTargets,\n    approval_mode: caption.approval_mode || 'required',\n    caption_status: caption.status || null,\n    title: derivedTitle,\n    description: descriptionParts.join('\\n\\n').trim(),\n    hashtags: normalizedHashtags,\n    youtube_caption_pack: youtubePack,\n    eligible_for_youtube_publish: caption.status === 'CAPTION_GENERATED'\n      && platformTargets.includes('youtube_shorts')\n      && Boolean(manifestPathAbs)\n      && Boolean(youtubePublishResultPathAbs),\n    caption_result: caption,\n  }\n};"},"id":"4dc57d0c-bd5b-4dc2-89bf-b9da434884f8","name":"Parse Caption Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2500,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04c2ec4f-f79b-43ec-96b1-13f1e1d8b59c","leftValue":"={{ $json.eligible_for_youtube_publish }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true,"name":"filter.operator.true"}}],"combinator":"and"},"options":{}},"id":"cf294c39-b65d-46b4-b7d9-c7da9cc2af06","name":"Eligible For YouTube Publish?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2280,260]},{"parameters":{"operation":"read","fileSelector":"={{ $json.youtube_publish_result_path }}","options":{}},"id":"4f45d9f1-7540-4ebc-b75d-8875bf4940dd","name":"Read Existing YouTube Result","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-2060,140],"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":2,"options":{"includeUnpaired":true}},"id":"844e4db1-97b2-4ea8-9bf6-9639c4fddd8a","name":"Merge Publish Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1840,260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"existing-youtube-uploaded-check","leftValue":"={{ $json.existing_youtube_status }}","rightValue":"YOUTUBE_UPLOADED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"fecc6816-c0f3-4a90-bdb1-5efbcb09c955","name":"Already Published?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1620,260]},{"parameters":{"operation":"read","fileSelector":"={{ $json.manifest_path }}","options":{}},"id":"a88c67c4-1b95-43dd-9f9b-9aa9a10cd5f7","name":"Read Manifest File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1400,360],"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":2,"options":{"includeUnpaired":true}},"id":"7581ef91-97d9-4cae-8ce2-47439a2b2107","name":"Merge Manifest Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1180,360]},{"parameters":{"operation":"fromJson","binaryPropertyName":"data","destinationKey":"manifest","options":{"keepSource":"both"}},"id":"ff09441f-c668-4f89-90c8-b89fe93e4efe","name":"Extract Manifest JSON","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-960,360]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const manifest = $json.manifest || {};\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nreturn {\n  json: {\n    ...$json,\n    manifest,\n    clip_path_abs: toContainerPath(manifest.clip_path),\n    clip_path: normalizeRepoPath(manifest.clip_path),\n    thumbnail_path_abs: toContainerPath(manifest.thumbnail_path),\n  }\n};"},"id":"fd987a82-c103-4206-b86c-833dc4ca8f50","name":"Parse Publish Manifest","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,360]},{"parameters":{"operation":"read","fileSelector":"/files/config/youtube_oauth.json","options":{}},"id":"15dffed3-37e1-4aa8-80d4-43d6b5f749a4","name":"Read YouTube Config File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-520,220],"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":2,"options":{"includeUnpaired":true}},"id":"a97a57ff-ab51-45d1-b52e-e5737b52d78c","name":"Merge YouTube Config Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-300,360]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const defaults = {\n  privacy_status: 'private',\n  category_id: '22',\n  notify_subscribers: false,\n  self_declared_made_for_kids: false,\n  allow_publish_without_approval: true,\n  title_suffix: '',\n  description_footer: '',\n};\n\nfunction toBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'y', 'on'].includes(String(value).trim().toLowerCase());\n}\n\nlet config = {};\nlet configError = null;\nconst binaryFieldName = $binary ? Object.keys($binary)[0] : null;\n\nif (binaryFieldName) {\n  try {\n    const rawBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n    const parsed = JSON.parse(rawBuffer.toString('utf8'));\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n      config = parsed;\n    } else {\n      configError = 'Isi /files/config/youtube_oauth.json harus berupa object JSON.';\n    }\n  } catch (error) {\n    configError = 'Config YouTube lokal tidak valid: ' + (error.message || 'parse gagal');\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    youtube_config_path: '/files/config/youtube_oauth.json',\n    youtube_config_error: configError,\n    youtube_client_id: String(config.client_id || '').trim(),\n    youtube_client_secret: String(config.client_secret || '').trim(),\n    youtube_refresh_token: String(config.refresh_token || '').trim(),\n    youtube_privacy_status: String(config.privacy_status || defaults.privacy_status),\n    youtube_category_id: String(config.category_id || defaults.category_id),\n    youtube_notify_subscribers: toBoolean(config.notify_subscribers, defaults.notify_subscribers),\n    youtube_self_declared_made_for_kids: toBoolean(config.self_declared_made_for_kids, defaults.self_declared_made_for_kids),\n    youtube_allow_publish_without_approval: toBoolean(config.allow_publish_without_approval, defaults.allow_publish_without_approval),\n    youtube_title_suffix: String(config.title_suffix || defaults.title_suffix),\n    youtube_description_footer: String(config.description_footer || defaults.description_footer),\n  }\n};"},"id":"572a6bc1-3af2-4bc4-bf4b-dfa77d1770f7","name":"Inject YouTube Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,360]},{"parameters":{"operation":"read","fileSelector":"={{ $json.clip_path_abs || '/files/__missing__/clip.mp4' }}","options":{}},"id":"41bbf77d-f5ce-4dd0-8a97-a65236705f2c","name":"Read Clip File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[140,260],"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":2,"options":{"includeUnpaired":true}},"id":"9b4240a8-3a5f-47c9-8584-e8da0bd48195","name":"Merge Clip Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[360,360]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"function buildFailure(message) {\n  return {\n    json: {\n      ...$json,\n      publish_upload_status: 'failed',\n      publish_error: message,\n      published_at: new Date().toISOString(),\n    }\n  };\n}\n\nfunction buildSuccess(extra) {\n  return {\n    json: {\n      ...$json,\n      publish_upload_status: 'uploaded',\n      publish_error: null,\n      published_at: new Date().toISOString(),\n      approval_bypassed: $json.approval_mode === 'required' ? Boolean($json.youtube_allow_publish_without_approval) : false,\n      ...extra,\n    }\n  };\n}\n\nfunction stringifyBody(value) {\n  if (typeof value === 'string') return value;\n  if (Buffer.isBuffer(value)) return value.toString('utf8');\n  if (value && typeof value === 'object') return JSON.stringify(value).slice(0, 4000);\n  return '';\n}\n\nconst configError = String($json.youtube_config_error || '').trim();\nif (configError) {\n  return buildFailure(configError);\n}\n\nif (!$json.youtube_client_id || !$json.youtube_client_secret || !$json.youtube_refresh_token) {\n  return buildFailure('Konfigurasi YouTube belum lengkap di /files/config/youtube_oauth.json.');\n}\n\nif ($json.approval_mode === 'required' && !$json.youtube_allow_publish_without_approval) {\n  return buildFailure('approval_mode masih required dan bypass publish dimatikan di config YouTube.');\n}\n\nlet title = String($json.title || '').trim();\nconst titleSuffix = String($json.youtube_title_suffix || '').trim();\nif (titleSuffix) {\n  title = [title, titleSuffix].filter(Boolean).join(' ').trim();\n}\nif (!title) {\n  title = ('Shorts ' + String($json.job_id || '')).trim();\n}\ntitle = title.slice(0, 100);\n\nlet description = String($json.description || '').trim();\nconst footer = String($json.youtube_description_footer || '').trim();\nif (footer) {\n  description = [description, footer].filter(Boolean).join('\\n\\n');\n}\ndescription = description.slice(0, 5000);\n\nconst hashtags = Array.isArray($json.hashtags)\n  ? $json.hashtags.map((tag) => String(tag || '').trim()).filter(Boolean)\n  : [];\nconst tags = hashtags.map((tag) => tag.replace(/^#/, '')).filter(Boolean).slice(0, 15);\nconst desiredVisibility = String($json.youtube_privacy_status || 'private');\nconst uploadVisibility = desiredVisibility === 'private' ? 'private' : 'private';\nconst existingYoutubeResult = $json.existing_youtube_result || {};\nconst existingVideoId = String(existingYoutubeResult.video_id || $json.youtube_video_id || '').trim();\n\nasync function getAccessToken() {\n  const tokenResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://oauth2.googleapis.com/token',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: [\n      'client_id=' + encodeURIComponent(String($json.youtube_client_id)),\n      'client_secret=' + encodeURIComponent(String($json.youtube_client_secret)),\n      'refresh_token=' + encodeURIComponent(String($json.youtube_refresh_token)),\n      'grant_type=refresh_token',\n    ].join('&'),\n    timeout: 120000,\n  });\n  return tokenResponse && tokenResponse.access_token ? String(tokenResponse.access_token) : '';\n}\n\nasync function getVideoState(accessToken, videoId) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: {\n      part: 'status,processingDetails,snippet',\n      id: videoId,\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n    },\n    timeout: 120000,\n    ignoreHttpStatusErrors: true,\n    returnFullResponse: true,\n  });\n\n  const statusCode = response?.statusCode || response?.status || 0;\n  if (statusCode >= 400) {\n    throw new Error('Gagal cek status video YouTube :: status=' + String(statusCode) + ' :: ' + stringifyBody(response?.body));\n  }\n\n  const body = response && Object.prototype.hasOwnProperty.call(response, 'body') ? response.body : response;\n  const parsed = typeof body === 'object' && body !== null && !Buffer.isBuffer(body)\n    ? body\n    : JSON.parse(stringifyBody(body) || '{}');\n  const item = Array.isArray(parsed.items) ? parsed.items[0] : null;\n  if (!item) {\n    throw new Error('Video YouTube dengan id ' + videoId + ' tidak ditemukan saat cek processing status.');\n  }\n  return item;\n}\n\nasync function updateVisibility(accessToken, videoId, videoState) {\n  const currentStatus = videoState && videoState.status ? videoState.status : {};\n  const currentPrivacy = String(currentStatus.privacyStatus || 'private');\n  if (currentPrivacy === desiredVisibility) {\n    return { privacyStatus: currentPrivacy, raw: videoState };\n  }\n\n  const response = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: {\n      part: 'status',\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n      'Content-Type': 'application/json; charset=UTF-8',\n    },\n    body: {\n      id: videoId,\n      status: {\n        privacyStatus: desiredVisibility,\n        selfDeclaredMadeForKids: Boolean($json.youtube_self_declared_made_for_kids),\n      },\n    },\n    timeout: 120000,\n    ignoreHttpStatusErrors: true,\n    returnFullResponse: true,\n  });\n\n  const statusCode = response?.statusCode || response?.status || 0;\n  if (statusCode >= 400) {\n    throw new Error('Gagal ubah visibility YouTube :: status=' + String(statusCode) + ' :: ' + stringifyBody(response?.body));\n  }\n\n  const body = response && Object.prototype.hasOwnProperty.call(response, 'body') ? response.body : response;\n  const parsed = typeof body === 'object' && body !== null && !Buffer.isBuffer(body)\n    ? body\n    : JSON.parse(stringifyBody(body) || '{}');\n  return {\n    privacyStatus: String(parsed?.status?.privacyStatus || desiredVisibility),\n    raw: parsed,\n  };\n}\n\nasync function findReconciledVideo(accessToken) {\n  if (!accessToken) return null;\n  try {\n    const searchResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://www.googleapis.com/youtube/v3/search',\n      qs: {\n        part: 'snippet',\n        forMine: 'true',\n        type: 'video',\n        maxResults: '10',\n        order: 'date',\n      },\n      headers: {\n        Authorization: 'Bearer ' + accessToken,\n      },\n      timeout: 120000,\n    });\n\n    const items = Array.isArray(searchResponse && searchResponse.items) ? searchResponse.items : [];\n    const now = Date.now();\n    const match = items.find((item) => {\n      const videoId = item && item.id ? item.id.videoId : null;\n      const snippet = item && item.snippet ? item.snippet : {};\n      const publishedAt = Date.parse(snippet.publishedAt || snippet.publishTime || '');\n      return Boolean(videoId)\n        && String(snippet.title || '').trim() === title\n        && String(snippet.description || '').trim() === description\n        && Number.isFinite(publishedAt)\n        && Math.abs(now - publishedAt) <= 30 * 60 * 1000;\n    });\n\n    if (!match || !match.id || !match.id.videoId) {\n      return null;\n    }\n\n    return {\n      youtube_video_id: String(match.id.videoId),\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + String(match.id.videoId),\n      youtube_studio_url: 'https://studio.youtube.com/video/' + String(match.id.videoId) + '/edit',\n      youtube_uploaded_title: title,\n      youtube_uploaded_description: description,\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: uploadVisibility,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: 'processing',\n      youtube_visibility_pending: true,\n      youtube_api_response: {\n        reconciled: true,\n        search_match: match,\n      },\n    };\n  } catch (reconcileError) {\n    return null;\n  }\n}\n\nlet accessToken = '';\n\ntry {\n  accessToken = await getAccessToken.call(this);\n  if (!accessToken) {\n    return buildFailure('Google OAuth tidak mengembalikan access_token.');\n  }\n\n  if (existingVideoId) {\n    const videoState = await getVideoState.call(this, accessToken, existingVideoId);\n    const processingStatus = String(videoState?.processingDetails?.processingStatus || videoState?.status?.uploadStatus || 'unknown');\n    const currentPrivacy = String(videoState?.status?.privacyStatus || 'private');\n\n    if (processingStatus !== 'succeeded') {\n      return buildSuccess({\n        youtube_video_id: existingVideoId,\n        youtube_watch_url: 'https://www.youtube.com/watch?v=' + existingVideoId,\n        youtube_studio_url: 'https://studio.youtube.com/video/' + existingVideoId + '/edit',\n        youtube_uploaded_title: String(videoState?.snippet?.title || title),\n        youtube_uploaded_description: String(videoState?.snippet?.description || description),\n        youtube_uploaded_hashtags: hashtags,\n        youtube_uploaded_tags: tags,\n        youtube_privacy_status_effective: currentPrivacy,\n        youtube_target_visibility: desiredVisibility,\n        youtube_processing_status: processingStatus,\n        youtube_visibility_pending: true,\n        youtube_api_response: videoState,\n      });\n    }\n\n    const visibilityUpdate = await updateVisibility.call(this, accessToken, existingVideoId, videoState);\n    return buildSuccess({\n      youtube_video_id: existingVideoId,\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + existingVideoId,\n      youtube_studio_url: 'https://studio.youtube.com/video/' + existingVideoId + '/edit',\n      youtube_uploaded_title: String(videoState?.snippet?.title || title),\n      youtube_uploaded_description: String(videoState?.snippet?.description || description),\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: visibilityUpdate.privacyStatus,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: 'succeeded',\n      youtube_visibility_pending: false,\n      youtube_api_response: visibilityUpdate.raw,\n    });\n  }\n\n  const binaryFieldName = $binary ? Object.keys($binary)[0] : null;\n  if (!binaryFieldName) {\n    return buildFailure('File clip utama tidak terbaca sebagai binary data.');\n  }\n\n  const clipBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n  const mimeType = String(($binary[binaryFieldName] && $binary[binaryFieldName].mimeType) || 'video/mp4');\n\n  const metadata = {\n    snippet: {\n      title,\n      description,\n      categoryId: String($json.youtube_category_id || '22'),\n    },\n    status: {\n      privacyStatus: uploadVisibility,\n      selfDeclaredMadeForKids: Boolean($json.youtube_self_declared_made_for_kids),\n    },\n  };\n\n  if (tags.length > 0) {\n    metadata.snippet.tags = tags;\n  }\n\n  const initResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://www.googleapis.com/upload/youtube/v3/videos',\n    qs: {\n      uploadType: 'resumable',\n      part: 'snippet,status',\n      notifySubscribers: $json.youtube_notify_subscribers ? 'true' : 'false',\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n      'Content-Type': 'application/json; charset=UTF-8',\n      'X-Upload-Content-Length': String(clipBuffer.length),\n      'X-Upload-Content-Type': mimeType,\n    },\n    body: metadata,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  const initStatus = initResponse?.statusCode || initResponse?.status || 0;\n  if (initStatus >= 400) {\n    return buildFailure('Init upload YouTube gagal :: status=' + String(initStatus) + ' :: ' + stringifyBody(initResponse?.body));\n  }\n\n  const location = initResponse && initResponse.headers\n    ? String(initResponse.headers.location || initResponse.headers.Location || '')\n    : '';\n\n  if (!location) {\n    return buildFailure('Google tidak mengembalikan upload location untuk resumable upload.');\n  }\n\n  const uploadResponseRaw = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: location,\n    headers: {\n      'Content-Type': mimeType,\n    },\n    body: clipBuffer,\n    timeout: 300000,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  const uploadStatus = uploadResponseRaw?.statusCode || uploadResponseRaw?.status || 0;\n  const uploadBody = uploadResponseRaw && Object.prototype.hasOwnProperty.call(uploadResponseRaw, 'body')\n    ? uploadResponseRaw.body\n    : uploadResponseRaw;\n  const uploadBodyText = stringifyBody(uploadBody);\n\n  if (uploadStatus >= 400) {\n    const reconciled = await findReconciledVideo.call(this, accessToken);\n    if (reconciled) {\n      return buildSuccess(reconciled);\n    }\n    return buildFailure('Upload chunk YouTube gagal :: status=' + String(uploadStatus) + ' :: ' + uploadBodyText);\n  }\n\n  const uploadResponse = typeof uploadBody === 'object' && uploadBody !== null && !Buffer.isBuffer(uploadBody)\n    ? uploadBody\n    : JSON.parse(uploadBodyText || '{}');\n\n  const videoId = uploadResponse && uploadResponse.id ? String(uploadResponse.id) : '';\n  if (!videoId) {\n    const reconciled = await findReconciledVideo.call(this, accessToken);\n    if (reconciled) {\n      return buildSuccess(reconciled);\n    }\n    return buildFailure('Upload YouTube selesai tapi video id tidak ditemukan di respons API. Respons: ' + uploadBodyText.slice(0, 1000));\n  }\n\n  const videoState = await getVideoState.call(this, accessToken, videoId);\n  const processingStatus = String(videoState?.processingDetails?.processingStatus || videoState?.status?.uploadStatus || 'unknown');\n  const currentPrivacy = String(videoState?.status?.privacyStatus || uploadVisibility);\n\n  if (processingStatus !== 'succeeded') {\n    return buildSuccess({\n      youtube_video_id: videoId,\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + videoId,\n      youtube_studio_url: 'https://studio.youtube.com/video/' + videoId + '/edit',\n      youtube_uploaded_title: title,\n      youtube_uploaded_description: description,\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: currentPrivacy,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: processingStatus,\n      youtube_visibility_pending: true,\n      youtube_api_response: videoState,\n    });\n  }\n\n  const visibilityUpdate = await updateVisibility.call(this, accessToken, videoId, videoState);\n  return buildSuccess({\n    youtube_video_id: videoId,\n    youtube_watch_url: 'https://www.youtube.com/watch?v=' + videoId,\n    youtube_studio_url: 'https://studio.youtube.com/video/' + videoId + '/edit',\n    youtube_uploaded_title: title,\n    youtube_uploaded_description: description,\n    youtube_uploaded_hashtags: hashtags,\n    youtube_uploaded_tags: tags,\n    youtube_privacy_status_effective: visibilityUpdate.privacyStatus,\n    youtube_target_visibility: desiredVisibility,\n    youtube_processing_status: 'succeeded',\n    youtube_visibility_pending: false,\n    youtube_api_response: visibilityUpdate.raw,\n  });\n} catch (error) {\n  const reconciled = await findReconciledVideo.call(this, accessToken);\n  if (reconciled) {\n    return buildSuccess(reconciled);\n  }\n\n  const responseBody = error?.response?.body ?? error?.response?.data ?? error?.context ?? error?.cause ?? null;\n  const responseText = stringifyBody(responseBody);\n  const statusCode = error?.statusCode || error?.response?.statusCode || error?.response?.status || null;\n  const parts = [];\n  if (error?.message) parts.push(String(error.message));\n  if (statusCode) parts.push('status=' + String(statusCode));\n  if (responseText) parts.push(responseText);\n  return buildFailure(parts.join(' :: ') || 'Gagal upload ke YouTube Data API.');\n}"},"id":"c63c768d-fcc1-416c-8682-702e7f2dc3ee","name":"Publish YouTube via API","type":"n8n-nodes-base.code","typeVersion":2,"position":[580,360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"126235c9-b362-4621-b68b-919ec41ae2d4","leftValue":"={{ $json.publish_upload_status }}","rightValue":"uploaded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"91f11428-b55e-4ff8-879a-d89a69c1cbb2","name":"Upload Succeeded?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,360]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const isPending = Boolean($json.youtube_visibility_pending);\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS',\n  status: isPending ? 'YOUTUBE_PROCESSING_PENDING' : 'YOUTUBE_UPLOADED',\n  published_at: $json.published_at || new Date().toISOString(),\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  youtube_publish_result_path: String($json.youtube_publish_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_path: String($json.clip_path || '').replace(/^\\/files\\//, 'shared/'),\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  platform: 'youtube_shorts',\n  approval_mode: $json.approval_mode || 'required',\n  approval_bypassed: Boolean($json.approval_bypassed),\n  privacy_status: $json.youtube_privacy_status_effective || 'private',\n  target_visibility: $json.youtube_target_visibility || $json.youtube_privacy_status || 'private',\n  processing_status: $json.youtube_processing_status || null,\n  video_id: $json.youtube_video_id || null,\n  youtube_watch_url: $json.youtube_watch_url || null,\n  youtube_studio_url: $json.youtube_studio_url || null,\n  title: $json.youtube_uploaded_title || $json.title || null,\n  description: $json.youtube_uploaded_description || $json.description || null,\n  hashtags: $json.youtube_uploaded_hashtags || $json.hashtags || [],\n  next_stage: null,\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    youtube_publish_result_payload: result,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'youtube_publish_result.json',\n    }\n  }\n};"},"id":"ce1660a4-74b9-4f40-a004-d20a208ab2a8","name":"Build Success YouTube Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,260]},{"parameters":{"fileName":"={{ $json.youtube_publish_result_path }}","dataPropertyName":"data","options":{}},"id":"7b828828-c7ab-474f-a87e-746852e3f832","name":"Write Success YouTube Result","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[1240,260]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS',\n  status: 'YOUTUBE_UPLOAD_FAILED',\n  published_at: $json.published_at || new Date().toISOString(),\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  youtube_publish_result_path: String($json.youtube_publish_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_path: String($json.clip_path || '').replace(/^\\/files\\//, 'shared/'),\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  platform: 'youtube_shorts',\n  approval_mode: $json.approval_mode || 'required',\n  approval_bypassed: false,\n  privacy_status: $json.youtube_privacy_status || 'private',\n  error_message: $json.publish_error || 'Upload YouTube gagal tanpa detail.',\n  next_stage: null,\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    youtube_publish_result_payload: result,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'youtube_publish_result.json',\n    }\n  }\n};"},"id":"c1ced692-6ca3-4352-a3c2-01744769d447","name":"Build Failure YouTube Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1020,460]},{"parameters":{"fileName":"={{ $json.youtube_publish_result_path }}","dataPropertyName":"data","options":{}},"id":"483aab36-f91d-4557-b3cb-f1eec0d0e557","name":"Write Failure YouTube Result","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[1240,460]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"function normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nconst binaryFieldName = $binary ? Object.keys($binary)[0] : null;\nlet existingYoutubeResult = null;\nlet existingYoutubeStatus = null;\n\nif (binaryFieldName) {\n  try {\n    const rawBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n    const raw = rawBuffer.toString('utf8');\n    existingYoutubeResult = JSON.parse(raw);\n    existingYoutubeStatus = existingYoutubeResult && existingYoutubeResult.status ? String(existingYoutubeResult.status) : null;\n  } catch (error) {\n    existingYoutubeStatus = null;\n  }\n}\n\nlet manifestPath = toContainerPath($json.manifest_path);\nconst captionResultPath = toContainerPath($json.caption_result_path);\nconst youtubePublishResultPath = toContainerPath($json.youtube_publish_result_path);\n\nif (!manifestPath && captionResultPath) {\n  manifestPath = captionResultPath.replace(/caption_result\\.json$/, 'manifest.json');\n}\nif (!manifestPath && youtubePublishResultPath) {\n  manifestPath = youtubePublishResultPath.replace(/youtube_publish_result\\.json$/, 'manifest.json');\n}\n\nreturn {\n  json: {\n    ...$json,\n    manifest_path: manifestPath,\n    caption_result_path: captionResultPath,\n    youtube_publish_result_path: youtubePublishResultPath,\n    existing_youtube_result: existingYoutubeResult,\n    existing_youtube_status: existingYoutubeStatus,\n  }\n};"},"id":"8d6e7f3b-5f8b-4c0b-8a4d-parseexistingyt01","name":"Parse Existing YouTube Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1720,260]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"const binaryFieldName = $binary ? Object.keys($binary)[0] : null;\nreturn {\n  json: {\n    ...$json,\n    manifest_binary_available: Boolean(binaryFieldName),\n    manifest_read_error: binaryFieldName ? null : ('Manifest file tidak terbaca dari path: ' + String($json.manifest_path || 'null')),\n  },\n  binary: $binary,\n};"},"id":"0f7d8c2d-manifestcheck-ytpublish01","name":"Check Manifest Read","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"manifest-binary-available-check","leftValue":"={{ $json.manifest_binary_available }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true,"name":"filter.operator.true"}}],"combinator":"and"},"options":{}},"id":"b7f2e8c1-manifestreadok-ytpublish01","name":"Manifest Read OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-840,360]},{"parameters":{"mode":"runOnceForEachItem","language":"javaScript","jsCode":"return {\n  json: {\n    ...$json,\n    publish_upload_status: 'failed',\n    publish_error: $json.manifest_read_error || 'Manifest file tidak terbaca.',\n    published_at: new Date().toISOString(),\n  }\n};"},"id":"6a9d4b22-manifestfailure-ytpublish01","name":"Build Manifest Read Failure","type":"n8n-nodes-base.code","typeVersion":2,"position":[-620,460]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Read Caption Result Files","type":"main","index":0}]]},"Read Caption Result Files":{"main":[[{"node":"Extract Caption Result JSON","type":"main","index":0}]]},"Extract Caption Result JSON":{"main":[[{"node":"Parse Caption Result","type":"main","index":0}]]},"Parse Caption Result":{"main":[[{"node":"Eligible For YouTube Publish?","type":"main","index":0}]]},"Eligible For YouTube Publish?":{"main":[[{"node":"Read Existing YouTube Result","type":"main","index":0},{"node":"Merge Publish Context","type":"main","index":0}],[]]},"Read Existing YouTube Result":{"main":[[{"node":"Merge Publish Context","type":"main","index":1}]]},"Merge Publish Context":{"main":[[{"node":"Parse Existing YouTube Result","type":"main","index":0}]]},"Already Published?":{"main":[[],[{"node":"Read Manifest File","type":"main","index":0},{"node":"Merge Manifest Context","type":"main","index":0}]]},"Read Manifest File":{"main":[[{"node":"Merge Manifest Context","type":"main","index":1}]]},"Merge Manifest Context":{"main":[[{"node":"Check Manifest Read","type":"main","index":0}]]},"Extract Manifest JSON":{"main":[[{"node":"Parse Publish Manifest","type":"main","index":0}]]},"Parse Publish Manifest":{"main":[[{"node":"Read YouTube Config File","type":"main","index":0},{"node":"Merge YouTube Config Context","type":"main","index":0}]]},"Read YouTube Config File":{"main":[[{"node":"Merge YouTube Config Context","type":"main","index":1}]]},"Merge YouTube Config Context":{"main":[[{"node":"Inject YouTube Config","type":"main","index":0}]]},"Inject YouTube Config":{"main":[[{"node":"Read Clip File","type":"main","index":0},{"node":"Merge Clip Context","type":"main","index":0}]]},"Read Clip File":{"main":[[{"node":"Merge Clip Context","type":"main","index":1}]]},"Merge Clip Context":{"main":[[{"node":"Publish YouTube via API","type":"main","index":0}]]},"Publish YouTube via API":{"main":[[{"node":"Upload Succeeded?","type":"main","index":0}]]},"Upload Succeeded?":{"main":[[{"node":"Build Success YouTube Result","type":"main","index":0}],[{"node":"Build Failure YouTube Result","type":"main","index":0}]]},"Build Success YouTube Result":{"main":[[{"node":"Write Success YouTube Result","type":"main","index":0}]]},"Build Failure YouTube Result":{"main":[[{"node":"Write Failure YouTube Result","type":"main","index":0}]]},"Parse Existing YouTube Result":{"main":[[{"node":"Already Published?","type":"main","index":0}]]},"Check Manifest Read":{"main":[[{"node":"Manifest Read OK?","type":"main","index":0}]]},"Manifest Read OK?":{"main":[[{"node":"Extract Manifest JSON","type":"main","index":0}],[{"node":"Build Manifest Read Failure","type":"main","index":0}]]},"Build Manifest Read Failure":{"main":[[{"node":"Build Failure YouTube Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ad751e4a-4cf2-4a30-9e71-055d8ce8984c","activeVersionId":null,"versionCounter":16,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-06T14:03:33.028Z","createdAt":"2026-04-06T14:03:33.028Z","role":"workflow:owner","workflowId":"wf04YoutubePublishAuto01","projectId":"azKshke2Na2MjhqP","project":{"updatedAt":"2026-04-03T03:05:05.080Z","createdAt":"2026-04-01T15:13:37.330Z","id":"azKshke2Na2MjhqP","name":"Kahfi Smith <alkahfiidev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"51bd82c2-eb7e-4495-87d4-cabc19896c4f"}}],"versionMetadata":{"name":null,"description":null}}]