shared/imports/wf-03-publish-youtube-shorts-auto-schedule.json
{
  "updatedAt": "2026-04-09T14:17:27.683Z",
  "createdAt": "2026-04-06T14:03:33.028Z",
  "id": "wf04YoutubePublishAuto01",
  "name": "WF-03 Publish YouTube Shorts Auto Schedule",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "d6156c77-4d27-4a88-9177-c7162c481fab",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3160,
        260
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/ready/*/caption_result.json",
        "dataPropertyName": "data"
      },
      "id": "7d0db776-c2c2-43f8-8d8f-7b93c8a5b608",
      "name": "Read Caption Result Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        -2940,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const text = buffer.toString('utf8').replace(/^\\uFEFF/, '');\n    output.push({\n      json: {\n        ...item.json,\n        \"caption_result\": JSON.parse(text),\n      },\n      binary: item.binary,\n      pairedItem: { item: i },\n    });\n  } catch (error) {\n    if (item.json && item.json.error) {\n      output.push({ json: item.json, binary: item.binary, pairedItem: { item: i } });\n      continue;\n    }\n    throw error;\n  }\n}\nreturn output;"
      },
      "id": "f66c869e-a7bb-4f32-b4a4-fd91bc1d92b7",
      "name": "Extract Caption Result JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const caption = $json.caption_result || {};\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nconst platformTargets = Array.isArray(caption.platform_targets) ? caption.platform_targets : [];\nconst manifestPathAbs = toContainerPath(caption.manifest_path);\nconst captionResultPathAbs = toContainerPath(caption.caption_result_path);\nconst legacyYoutubePublishResultPathAbs = manifestPathAbs\n  ? manifestPathAbs.replace(/manifest\\.json$/, 'youtube_publish_result.json')\n  : null;\n\nreturn {\n  json: {\n    job_id: caption.job_id || null,\n    manifest_path: manifestPathAbs,\n    caption_result_path: captionResultPathAbs,\n    youtube_publish_result_path: legacyYoutubePublishResultPathAbs,\n    youtube_publish_legacy_result_path: legacyYoutubePublishResultPathAbs,\n    source_video_url: caption.source_video_url || null,\n    source_video_id: caption.source_video_id || null,\n    platform_targets: platformTargets,\n    approval_mode: caption.approval_mode || 'required',\n    caption_status: caption.status || null,\n    eligible_for_youtube_publish: caption.status === 'CAPTION_GENERATED'\n      && platformTargets.includes('youtube_shorts')\n      && Boolean(manifestPathAbs),\n    caption_result: caption,\n  }\n};"
      },
      "id": "4dc57d0c-bd5b-4dc2-89bf-b9da434884f8",
      "name": "Parse Caption Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2500,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "04c2ec4f-f79b-43ec-96b1-13f1e1d8b59c",
              "leftValue": "={{ $json.eligible_for_youtube_publish }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true,
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf294c39-b65d-46b4-b7d9-c7da9cc2af06",
      "name": "Eligible For YouTube Publish?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2280,
        260
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.youtube_publish_result_path }}",
        "dataPropertyName": "data"
      },
      "id": "4f45d9f1-7540-4ebc-b75d-8875bf4940dd",
      "name": "Read Existing YouTube Result",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -2060,
        140
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "844e4db1-97b2-4ea8-9bf6-9639c4fddd8a",
      "name": "Merge Publish Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1840,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "existing-youtube-uploaded-check",
              "leftValue": "={{ $json.existing_youtube_status }}",
              "rightValue": "YOUTUBE_UPLOADED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "existing-youtube-pending-check",
              "leftValue": "={{ $json.existing_youtube_status }}",
              "rightValue": "YOUTUBE_PROCESSING_PENDING",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "fecc6816-c0f3-4a90-bdb1-5efbcb09c955",
      "name": "Already Published?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1620,
        260
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.manifest_path }}",
        "dataPropertyName": "data"
      },
      "id": "a88c67c4-1b95-43dd-9f9b-9aa9a10cd5f7",
      "name": "Read Manifest File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -1400,
        360
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "7581ef91-97d9-4cae-8ce2-47439a2b2107",
      "name": "Merge Manifest Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1180,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const binaryData = item.binary && item.binary.data ? item.binary.data : null;\n\n  if (!binaryData) {\n    output.push({\n      json: {\n        ...item.json,\n        manifest: null,\n        manifest_binary_available: false,\n        manifest_read_error: 'Manifest file tidak terbaca sebagai binary data dari path: ' + String(item.json?.manifest_path || 'null'),\n      },\n      pairedItem: { item: i },\n    });\n    continue;\n  }\n\n  try {\n    const buffer = binaryData.data\n      ? Buffer.from(binaryData.data, 'base64')\n      : await this.helpers.getBinaryDataBuffer(i, 'data');\n    const text = buffer.toString('utf8').replace(/^\\uFEFF/, '');\n    output.push({\n      json: {\n        ...item.json,\n        manifest: JSON.parse(text),\n        manifest_binary_available: true,\n        manifest_read_error: null,\n      },\n      pairedItem: { item: i },\n    });\n  } catch (error) {\n    output.push({\n      json: {\n        ...item.json,\n        manifest: null,\n        manifest_binary_available: false,\n        manifest_read_error: 'Manifest JSON gagal dibaca: ' + (error.message || 'unknown error'),\n      },\n      pairedItem: { item: i },\n    });\n  }\n}\nreturn output;"
      },
      "id": "ff09441f-c668-4f89-90c8-b89fe93e4efe",
      "name": "Extract Manifest JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\n\nfunction normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nfunction normalizeHashtags(value) {\n  if (!Array.isArray(value)) return [];\n  const tags = value.map((item) => String(item || '').trim()).filter(Boolean);\n  const normalized = tags.map((tag) => tag.startsWith('#') ? tag : '#' + tag);\n  if (!normalized.some((tag) => tag.toLowerCase() === '#shorts')) {\n    normalized.push('#Shorts');\n  }\n  return normalized;\n}\n\nfunction stripCopyPrefix(value) {\n  let text = String(value || '').replace(/\\s+/g, ' ').trim();\n  let previous = null;\n  const prefixPattern = /^\\s*[\\[(]?\\s*(?:clip|video|caption|judul|title|bagian|part)[\\s_-]*\\d{1,3}\\s*[\\])\\].:;\\-_]*\\s*/i;\n  while (text && text !== previous) {\n    previous = text;\n    text = text.replace(prefixPattern, '').trim();\n  }\n  return text.replace(/^[\\s\\-:.;)\\]\\u2013\\u2014\\u2212]+/, '').trim();\n}\n\nfunction deriveTitle(text, fallback) {\n  const source = stripCopyPrefix(text);\n  if (!source) return String(fallback || '').slice(0, 100);\n  const sentence = source.split(/[.!?\\n]/).map((s) => s.trim()).filter(Boolean)[0] || source;\n  return stripCopyPrefix(sentence).slice(0, 100).trim() || String(fallback || '').slice(0, 100);\n}\n\nfunction getClips(manifest) {\n  const rawClips = Array.isArray(manifest.clips) && manifest.clips.length > 0 ? manifest.clips : null;\n  if (rawClips) {\n    return rawClips.map((clip, index) => {\n      const clipPath = normalizeRepoPath(clip?.clip_path || clip?.file_path || '');\n      return {\n        clip_index: index + 1,\n        clip_id: String(clip?.clip_id || 'clip_' + String(index + 1).padStart(2, '0')),\n        file_name: String(clip?.file_name || (clipPath ? clipPath.split('/').pop() : '')),\n        clip_path: clipPath,\n        clip_path_abs: toContainerPath(clipPath),\n      };\n    }).filter((clip) => Boolean(clip.clip_path_abs));\n  }\n\n  const clipPath = normalizeRepoPath(manifest.clip_path);\n  return [{\n    clip_index: 1,\n    clip_id: String(manifest.clip_id || 'clip_01'),\n    file_name: String(clipPath || '').split('/').pop(),\n    clip_path: clipPath,\n    clip_path_abs: toContainerPath(clipPath),\n  }].filter((clip) => Boolean(clip.clip_path_abs));\n}\n\nfunction findPlatformPack(packs, platform) {\n  if (!Array.isArray(packs)) return null;\n  return packs.find((pack) => pack && pack.platform === platform) || packs[0] || null;\n}\n\nfunction findClipCaptionPack(caption, clip, platform) {\n  const clipPacks = Array.isArray(caption.clip_caption_pack) ? caption.clip_caption_pack : [];\n  for (const item of clipPacks) {\n    if (!item) continue;\n    const itemClipPath = normalizeRepoPath(item.clip_path);\n    const itemFileName = String(item.file_name || (itemClipPath ? itemClipPath.split('/').pop() : ''));\n    const matched = String(item.clip_id || '') === clip.clip_id\n      || itemClipPath === clip.clip_path\n      || itemFileName === clip.file_name;\n    if (!matched) continue;\n    const pack = findPlatformPack(item.captions || item.caption_pack, platform);\n    if (pack) return pack;\n  }\n  return null;\n}\n\nfunction containerPathExists(value) {\n  if (!value) return false;\n  try {\n    if (!fs.existsSync(value)) return false;\n    // Only skip if already uploaded. Stale IN_PROGRESS (>10min) is retried.\n    const existing = JSON.parse(fs.readFileSync(value, 'utf8'));\n    const status = String(existing.status || '');\n    if (status === 'YOUTUBE_UPLOADED') return true;\n    if (status === 'YOUTUBE_PROCESSING_PENDING') return true;\n    if (status === 'YOUTUBE_UPLOAD_IN_PROGRESS') {\n      const claimedAt = Date.parse(existing.claimed_at || 0);\n      const ageMs = Date.now() - claimedAt;\n      if (ageMs < 10 * 60 * 1000) return true; // recent claim, let it run\n      // stale claim: remove so it can be re-claimed\n      try { fs.unlinkSync(value); } catch (e) {}\n      return false;\n    }\n    return false; // FAILED or other: allow retry\n  } catch (error) {\n    return false;\n  }\n}\n\nfunction claimUploadResult(resultPath, payload) {\n  if (!resultPath) return false;\n  try {\n    fs.mkdirSync(resultPath.split('/').slice(0, -1).join('/'), { recursive: true });\n    fs.writeFileSync(resultPath, JSON.stringify(payload, null, 2) + '\\n', { encoding: 'utf8', flag: 'wx' });\n    return true;\n  } catch (error) {\n    if (error && error.code === 'EEXIST') return false;\n    throw error;\n  }\n}\n\nfunction safePathPart(value, fallback) {\n  return String(value || fallback || 'clip')\n    .trim()\n    .replace(/[^a-zA-Z0-9_-]+/g, '_')\n    .replace(/^_+|_+$/g, '') || String(fallback || 'clip');\n}\n\nconst output = [];\nfor (const inputItem of $input.all()) {\n  const source = inputItem.json || {};\n  const manifest = source.manifest || {};\n  const caption = source.caption_result || {};\n  const manifestPathAbs = toContainerPath(source.manifest_path || caption.manifest_path);\n  const baseDir = manifestPathAbs ? manifestPathAbs.replace(/manifest\\.json$/, '') : '';\n  const clips = getClips(manifest);\n  const fallbackPack = findPlatformPack(caption.caption_pack, 'youtube_shorts') || {};\n\n  for (const clip of clips) {\n    const clipPack = findClipCaptionPack(caption, clip, 'youtube_shorts') || fallbackPack;\n    const captionText = stripCopyPrefix(clipPack.caption || fallbackPack.caption || '');\n    const hashtags = normalizeHashtags(clipPack.hashtags || fallbackPack.hashtags || caption.hashtags);\n    const description = '';\n    const titleTags = hashtags.slice(0, 3).map((t) => t.toLowerCase()).join(' ');\n    const titleRaw = [captionText, titleTags].filter(Boolean).join(' ').trim();\n    const title = stripCopyPrefix(titleRaw).slice(0, 100).trim() || stripCopyPrefix(deriveTitle(captionText, 'Shorts ' + String(source.job_id || '') + ' ' + clip.clip_id));\n    const resultFileName = 'youtube_publish_result_' + safePathPart(clip.clip_id, 'clip_' + clip.clip_index) + '.json';\n    const resultPath = baseDir ? baseDir + resultFileName : resultFileName;\n\n    if (containerPathExists(resultPath)) {\n      continue;\n    }\n\n    const claimed = claimUploadResult(resultPath, {\n      job_id: source.job_id || caption.job_id || manifest.job_id || null,\n      stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS',\n      status: 'YOUTUBE_UPLOAD_IN_PROGRESS',\n      claimed_at: new Date().toISOString(),\n      manifest_path: String(manifestPathAbs || '').replace(/^\\/files\\//, 'shared/'),\n      caption_result_path: String(source.caption_result_path || caption.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n      youtube_publish_result_path: resultPath.replace(/^\\/files\\//, 'shared/'),\n      clip_path: String(clip.clip_path || '').replace(/^\\/files\\//, 'shared/'),\n      clip_index: clip.clip_index,\n      clip_id: clip.clip_id,\n      file_name: clip.file_name,\n      platform: 'youtube_shorts',\n      status_context: 'claimed_before_youtube_upload_to_prevent_duplicate_schedule_run'\n    });\n\n    if (!claimed) {\n      continue;\n    }\n\n    output.push({\n      json: {\n        ...source,\n        manifest,\n        clip_index: clip.clip_index,\n        clip_id: clip.clip_id,\n        file_name: clip.file_name,\n        clip_path_abs: clip.clip_path_abs,\n        clip_path: clip.clip_path,\n        thumbnail_path_abs: toContainerPath(manifest.thumbnail_path),\n        title,\n        description,\n        hashtags,\n        youtube_caption_pack: clipPack,\n        youtube_publish_result_path: resultPath,\n        youtube_publish_result_path_repo: resultPath.replace(/^\\/files\\//, 'shared/'),\n        youtube_shorts_expected: true,\n        existing_youtube_result: null,\n        existing_youtube_status: null,\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "id": "fd987a82-c103-4206-b86c-833dc4ca8f50",
      "name": "Parse Publish Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        360
      ]
    },
    {
      "parameters": {
        "filePath": "/files/config/youtube_oauth.json",
        "dataPropertyName": "data"
      },
      "id": "15dffed3-37e1-4aa8-80d4-43d6b5f749a4",
      "name": "Read YouTube Config File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -520,
        220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "a97a57ff-ab51-45d1-b52e-e5737b52d78c",
      "name": "Merge YouTube Config Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -300,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const defaults = {\n  privacy_status: 'public',\n  category_id: '22',\n  notify_subscribers: false,\n  self_declared_made_for_kids: false,\n  allow_publish_without_approval: true,\n  title_suffix: '',\n  description_footer: '',\n  processing_wait_seconds: 900,\n  processing_poll_seconds: 30,\n};\n\nfunction toBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  return ['1', 'true', 'yes', 'y', 'on'].includes(String(value).trim().toLowerCase());\n}\n\nfunction toPositiveNumber(value, fallback) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) && parsed >= 0 ? parsed : fallback;\n}\n\nlet config = {};\nlet configError = null;\nconst binaryFieldName = $binary ? Object.keys($binary)[0] : null;\n\nif (binaryFieldName) {\n  try {\n    const rawBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n    const parsed = JSON.parse(rawBuffer.toString('utf8'));\n    if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n      config = parsed;\n    } else {\n      configError = 'Isi /files/config/youtube_oauth.json harus berupa object JSON.';\n    }\n  } catch (error) {\n    configError = 'Config YouTube lokal tidak valid: ' + (error.message || 'parse gagal');\n  }\n}\n\nreturn {\n  json: {\n    ...$json,\n    youtube_config_path: '/files/config/youtube_oauth.json',\n    youtube_config_error: configError,\n    youtube_client_id: String(config.client_id || '').trim(),\n    youtube_client_secret: String(config.client_secret || '').trim(),\n    youtube_refresh_token: String(config.refresh_token || '').trim(),\n    youtube_privacy_status: String(config.privacy_status || defaults.privacy_status),\n    youtube_category_id: String(config.category_id || defaults.category_id),\n    youtube_notify_subscribers: toBoolean(config.notify_subscribers, defaults.notify_subscribers),\n    youtube_self_declared_made_for_kids: toBoolean(config.self_declared_made_for_kids, defaults.self_declared_made_for_kids),\n    youtube_allow_publish_without_approval: toBoolean(config.allow_publish_without_approval, defaults.allow_publish_without_approval),\n    youtube_title_suffix: String(config.title_suffix || defaults.title_suffix),\n    youtube_description_footer: String(config.description_footer || defaults.description_footer),\n    youtube_processing_wait_seconds: toPositiveNumber(config.processing_wait_seconds, defaults.processing_wait_seconds),\n    youtube_processing_poll_seconds: toPositiveNumber(config.processing_poll_seconds, defaults.processing_poll_seconds),\n  }\n};"
      },
      "id": "572a6bc1-3af2-4bc4-bf4b-dfa77d1770f7",
      "name": "Inject YouTube Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        360
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.clip_path_abs || '/files/__missing__/clip.mp4' }}",
        "dataPropertyName": "data"
      },
      "id": "41bbf77d-f5ce-4dd0-8a97-a65236705f2c",
      "name": "Read Clip File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        140,
        260
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "9b4240a8-3a5f-47c9-8584-e8da0bd48195",
      "name": "Merge Clip Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        360,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function buildFailure(message) {\n  return {\n    json: {\n      ...$json,\n      publish_upload_status: 'failed',\n      publish_error: message,\n      published_at: new Date().toISOString(),\n    }\n  };\n}\n\nfunction buildSuccess(extra) {\n  return {\n    json: {\n      ...$json,\n      publish_upload_status: 'uploaded',\n      publish_error: null,\n      published_at: new Date().toISOString(),\n      approval_bypassed: $json.approval_mode === 'required' ? Boolean($json.youtube_allow_publish_without_approval) : false,\n      ...extra,\n    }\n  };\n}\n\nfunction stringifyBody(value) {\n  if (typeof value === 'string') return value;\n  if (Buffer.isBuffer(value)) return value.toString('utf8');\n  if (value && typeof value === 'object') return JSON.stringify(value).slice(0, 4000);\n  return '';\n}\n\nfunction normalizeProcessingState(videoState) {\n  const rawProcessingStatus = String(videoState?.processingDetails?.processingStatus || '').trim().toLowerCase();\n  if (rawProcessingStatus) {\n    return {\n      normalized: rawProcessingStatus,\n      raw: rawProcessingStatus,\n      source: 'processingDetails.processingStatus',\n      isComplete: rawProcessingStatus === 'succeeded',\n      isTerminalFailure: ['failed', 'terminated'].includes(rawProcessingStatus),\n    };\n  }\n\n  const rawUploadStatus = String(videoState?.status?.uploadStatus || '').trim().toLowerCase();\n  if (rawUploadStatus === 'processed') {\n    return {\n      normalized: 'succeeded',\n      raw: rawUploadStatus,\n      source: 'status.uploadStatus',\n      isComplete: true,\n      isTerminalFailure: false,\n    };\n  }\n  if (['failed', 'rejected', 'deleted'].includes(rawUploadStatus)) {\n    return {\n      normalized: rawUploadStatus,\n      raw: rawUploadStatus,\n      source: 'status.uploadStatus',\n      isComplete: false,\n      isTerminalFailure: true,\n    };\n  }\n  if (rawUploadStatus === 'uploaded') {\n    return {\n      normalized: 'processing',\n      raw: rawUploadStatus,\n      source: 'status.uploadStatus',\n      isComplete: false,\n      isTerminalFailure: false,\n    };\n  }\n  if (rawUploadStatus) {\n    return {\n      normalized: rawUploadStatus,\n      raw: rawUploadStatus,\n      source: 'status.uploadStatus',\n      isComplete: false,\n      isTerminalFailure: false,\n    };\n  }\n\n  return {\n    normalized: 'unknown',\n    raw: null,\n    source: 'none',\n    isComplete: false,\n  };\n}\n\nfunction buildPendingSuccess(payload) {\n  return buildSuccess({\n    ...payload,\n    youtube_visibility_pending: true,\n  });\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nconst configError = String($json.youtube_config_error || '').trim();\nif (configError) {\n  return buildFailure(configError);\n}\n\nif (!$json.youtube_client_id || !$json.youtube_client_secret || !$json.youtube_refresh_token) {\n  return buildFailure('Konfigurasi YouTube belum lengkap di /files/config/youtube_oauth.json.');\n}\n\nif ($json.approval_mode === 'required' && !$json.youtube_allow_publish_without_approval) {\n  return buildFailure('approval_mode masih required dan bypass publish dimatikan di config YouTube.');\n}\n\nlet title = String($json.title || '').trim();\nconst titleSuffix = String($json.youtube_title_suffix || '').trim();\nif (titleSuffix) {\n  title = [title, titleSuffix].filter(Boolean).join(' ').trim();\n}\nif (!title) {\n  title = ('Shorts ' + String($json.job_id || '')).trim();\n}\ntitle = title.slice(0, 100);\n\nlet description = String($json.description || '').trim();\nconst footer = String($json.youtube_description_footer || '').trim();\nif (footer) {\n  description = [description, footer].filter(Boolean).join('\\n\\n');\n}\ndescription = description.slice(0, 5000);\n\nconst hashtags = Array.isArray($json.hashtags)\n  ? $json.hashtags.map((tag) => String(tag || '').trim()).filter(Boolean)\n  : [];\nconst tags = hashtags.map((tag) => tag.replace(/^#/, '')).filter(Boolean).slice(0, 15);\nconst desiredVisibility = String($json.youtube_privacy_status || 'public');\nconst uploadVisibility = desiredVisibility;\nconst existingYoutubeResult = $json.existing_clip_youtube_result || $json.existing_youtube_result || {};\nconst existingVideoId = String(existingYoutubeResult.video_id || $json.youtube_video_id || '').trim();\nconst existingResultStatus = String(existingYoutubeResult.status || '').trim() || null;\nconst existingResultPublishedAt = String(existingYoutubeResult.published_at || '').trim() || null;\nconst statusCheckedAt = new Date().toISOString();\nconst processingWaitSeconds = Math.max(0, Number($json.youtube_processing_wait_seconds || 900));\nconst processingPollSeconds = Math.max(5, Number($json.youtube_processing_poll_seconds || 30));\nconst processingWaitMs = processingWaitSeconds * 1000;\nconst processingPollMs = processingPollSeconds * 1000;\n\nasync function getAccessToken() {\n  const tokenResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://oauth2.googleapis.com/token',\n    headers: {\n      'Content-Type': 'application/x-www-form-urlencoded',\n    },\n    body: [\n      'client_id=' + encodeURIComponent(String($json.youtube_client_id)),\n      'client_secret=' + encodeURIComponent(String($json.youtube_client_secret)),\n      'refresh_token=' + encodeURIComponent(String($json.youtube_refresh_token)),\n      'grant_type=refresh_token',\n    ].join('&'),\n    timeout: 120000,\n  });\n  return tokenResponse && tokenResponse.access_token ? String(tokenResponse.access_token) : '';\n}\n\nasync function getVideoState(accessToken, videoId) {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: {\n      part: 'status,processingDetails,snippet,contentDetails,player',\n      id: videoId,\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n    },\n    timeout: 120000,\n    ignoreHttpStatusErrors: true,\n    returnFullResponse: true,\n  });\n\n  const statusCode = response?.statusCode || response?.status || 0;\n  if (statusCode >= 400) {\n    throw new Error('Gagal cek status video YouTube :: status=' + String(statusCode) + ' :: ' + stringifyBody(response?.body));\n  }\n\n  const body = response && Object.prototype.hasOwnProperty.call(response, 'body') ? response.body : response;\n  const parsed = typeof body === 'object' && body !== null && !Buffer.isBuffer(body)\n    ? body\n    : JSON.parse(stringifyBody(body) || '{}');\n  const item = Array.isArray(parsed.items) ? parsed.items[0] : null;\n  if (!item) {\n    throw new Error('Video YouTube dengan id ' + videoId + ' tidak ditemukan saat cek processing status.');\n  }\n  return item;\n}\n\nasync function updateVisibility(accessToken, videoId, videoState) {\n  const currentStatus = videoState && videoState.status ? videoState.status : {};\n  const currentPrivacy = String(currentStatus.privacyStatus || 'private');\n  if (currentPrivacy === desiredVisibility) {\n    return { privacyStatus: currentPrivacy, raw: videoState };\n  }\n\n  const response = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: {\n      part: 'status',\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n      'Content-Type': 'application/json; charset=UTF-8',\n    },\n    body: {\n      id: videoId,\n      status: {\n        privacyStatus: desiredVisibility,\n        selfDeclaredMadeForKids: Boolean($json.youtube_self_declared_made_for_kids),\n      },\n    },\n    timeout: 120000,\n    ignoreHttpStatusErrors: true,\n    returnFullResponse: true,\n  });\n\n  const statusCode = response?.statusCode || response?.status || 0;\n  if (statusCode >= 400) {\n    throw new Error('Gagal ubah visibility YouTube :: status=' + String(statusCode) + ' :: ' + stringifyBody(response?.body));\n  }\n\n  const body = response && Object.prototype.hasOwnProperty.call(response, 'body') ? response.body : response;\n  const parsed = typeof body === 'object' && body !== null && !Buffer.isBuffer(body)\n    ? body\n    : JSON.parse(stringifyBody(body) || '{}');\n  return {\n    privacyStatus: String(parsed?.status?.privacyStatus || desiredVisibility),\n    raw: parsed,\n  };\n}\n\nasync function waitForProcessingCompletion(accessToken, videoId, initialVideoState) {\n  let videoState = initialVideoState;\n  let processingState = normalizeProcessingState(videoState);\n  if (processingState.isComplete || processingState.isTerminalFailure || processingWaitMs <= 0) {\n    return { videoState, processingState, timedOut: false };\n  }\n\n  const startedAt = Date.now();\n  while (!processingState.isComplete && !processingState.isTerminalFailure && (Date.now() - startedAt) < processingWaitMs) {\n    await sleep(processingPollMs);\n    videoState = await getVideoState.call(this, accessToken, videoId);\n    processingState = normalizeProcessingState(videoState);\n  }\n\n  return {\n    videoState,\n    processingState,\n    timedOut: !processingState.isComplete && !processingState.isTerminalFailure,\n  };\n}\n\nasync function findReconciledVideo(accessToken) {\n  if (!accessToken) return null;\n  try {\n    const searchResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://www.googleapis.com/youtube/v3/search',\n      qs: {\n        part: 'snippet',\n        forMine: 'true',\n        type: 'video',\n        maxResults: '10',\n        order: 'date',\n      },\n      headers: {\n        Authorization: 'Bearer ' + accessToken,\n      },\n      timeout: 120000,\n    });\n\n    const items = Array.isArray(searchResponse && searchResponse.items) ? searchResponse.items : [];\n    const now = Date.now();\n    const match = items.find((item) => {\n      const videoId = item && item.id ? item.id.videoId : null;\n      const snippet = item && item.snippet ? item.snippet : {};\n      const publishedAt = Date.parse(snippet.publishedAt || snippet.publishTime || '');\n      return Boolean(videoId)\n        && String(snippet.title || '').trim() === title\n        && String(snippet.description || '').trim() === description\n        && Number.isFinite(publishedAt)\n        && Math.abs(now - publishedAt) <= 30 * 60 * 1000;\n    });\n\n    if (!match || !match.id || !match.id.videoId) {\n      return null;\n    }\n\n    return {\n      youtube_video_id: String(match.id.videoId),\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + String(match.id.videoId),\n      youtube_shorts_url: 'https://www.youtube.com/shorts/' + String(match.id.videoId),\n      youtube_studio_url: 'https://studio.youtube.com/video/' + String(match.id.videoId) + '/edit',\n      youtube_uploaded_title: title,\n      youtube_uploaded_description: description,\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: uploadVisibility,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: 'processing',\n      youtube_processing_status_raw: 'processing',\n      youtube_processing_status_source: 'channel.search.reconciliation',\n      youtube_visibility_pending: true,\n      youtube_publish_mode: 'reconcile_recent_channel_search',\n      youtube_status_context: 'upload_reconciled_from_channel_search',\n      youtube_status_checked_at: statusCheckedAt,\n      youtube_processing_wait_seconds: processingWaitSeconds,\n      youtube_existing_result_status: existingResultStatus,\n      youtube_existing_result_published_at: existingResultPublishedAt,\n      youtube_api_response: {\n        reconciled: true,\n        search_match: match,\n      },\n    };\n  } catch (reconcileError) {\n    return null;\n  }\n}\n\nlet accessToken = '';\n\ntry {\n  accessToken = await getAccessToken.call(this);\n  if (!accessToken) {\n    return buildFailure('Google OAuth tidak mengembalikan access_token.');\n  }\n\n  if (existingVideoId) {\n    let videoState = await getVideoState.call(this, accessToken, existingVideoId);\n    let processingState = normalizeProcessingState(videoState);\n    if (processingState.isTerminalFailure) {\n      return buildFailure('YouTube menandai video existing gagal/ditolak :: status=' + processingState.normalized + ' :: failure=' + String(videoState?.status?.failureReason || videoState?.status?.rejectionReason || videoState?.processingDetails?.processingFailureReason || 'unknown'));\n    }\n    let currentPrivacy = String(videoState?.status?.privacyStatus || 'private');\n\n    if (currentPrivacy !== desiredVisibility) {\n      const earlyVisibilityUpdate = await updateVisibility.call(this, accessToken, existingVideoId, videoState);\n      currentPrivacy = String(earlyVisibilityUpdate.privacyStatus || desiredVisibility);\n      videoState = await getVideoState.call(this, accessToken, existingVideoId);\n      processingState = normalizeProcessingState(videoState);\n    }\n\n    if (!processingState.isComplete) {\n      const waited = await waitForProcessingCompletion.call(this, accessToken, existingVideoId, videoState);\n      videoState = waited.videoState;\n      processingState = waited.processingState;\n      currentPrivacy = String(videoState?.status?.privacyStatus || currentPrivacy || desiredVisibility);\n\n      if (processingState.isTerminalFailure) {\n        return buildFailure('YouTube menandai video existing gagal/ditolak :: status=' + processingState.normalized + ' :: failure=' + String(videoState?.status?.failureReason || videoState?.status?.rejectionReason || videoState?.processingDetails?.processingFailureReason || 'unknown'));\n      }\n\n      if (!processingState.isComplete) {\n        return buildPendingSuccess({\n          youtube_video_id: existingVideoId,\n          youtube_watch_url: 'https://www.youtube.com/watch?v=' + existingVideoId,\n          youtube_shorts_url: 'https://www.youtube.com/shorts/' + existingVideoId,\n          youtube_studio_url: 'https://studio.youtube.com/video/' + existingVideoId + '/edit',\n          youtube_uploaded_title: String(videoState?.snippet?.title || title),\n          youtube_uploaded_description: String(videoState?.snippet?.description || description),\n          youtube_uploaded_hashtags: hashtags,\n          youtube_uploaded_tags: tags,\n          youtube_privacy_status_effective: currentPrivacy,\n          youtube_target_visibility: desiredVisibility,\n          youtube_processing_status: processingState.normalized,\n          youtube_processing_status_raw: processingState.raw,\n          youtube_processing_status_source: processingState.source,\n          youtube_publish_mode: 'reconcile_existing_video',\n          youtube_status_context: waited.timedOut ? 'processing_wait_timeout_existing_video' : 'processing_pending_recheck',\n          youtube_status_checked_at: new Date().toISOString(),\n          youtube_processing_wait_seconds: processingWaitSeconds,\n          youtube_existing_result_status: existingResultStatus,\n          youtube_existing_result_published_at: existingResultPublishedAt,\n          youtube_api_response: videoState,\n        });\n      }\n    }\n\n    const visibilityUpdate = await updateVisibility.call(this, accessToken, existingVideoId, videoState);\n    return buildSuccess({\n      youtube_video_id: existingVideoId,\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + existingVideoId,\n      youtube_shorts_url: 'https://www.youtube.com/shorts/' + existingVideoId,\n      youtube_studio_url: 'https://studio.youtube.com/video/' + existingVideoId + '/edit',\n      youtube_uploaded_title: String(videoState?.snippet?.title || title),\n      youtube_uploaded_description: String(videoState?.snippet?.description || description),\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: visibilityUpdate.privacyStatus,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: 'succeeded',\n      youtube_processing_status_raw: processingState.raw,\n      youtube_processing_status_source: processingState.source,\n      youtube_visibility_pending: false,\n      youtube_publish_mode: 'reconcile_existing_video',\n      youtube_status_context: 'video_processed_and_visibility_synced',\n      youtube_status_checked_at: new Date().toISOString(),\n      youtube_processing_wait_seconds: processingWaitSeconds,\n      youtube_existing_result_status: existingResultStatus,\n      youtube_existing_result_published_at: existingResultPublishedAt,\n      youtube_api_response: visibilityUpdate.raw,\n    });\n  }\n\n  const binaryFieldName = $binary ? Object.keys($binary)[0] : null;\n  if (!binaryFieldName) {\n    return buildFailure('File clip utama tidak terbaca sebagai binary data.');\n  }\n\n  const clipBuffer = await this.helpers.getBinaryDataBuffer($itemIndex, binaryFieldName);\n  const mimeType = String(($binary[binaryFieldName] && $binary[binaryFieldName].mimeType) || 'video/mp4');\n\n  const metadata = {\n    snippet: {\n      title,\n      description,\n      categoryId: String($json.youtube_category_id || '22'),\n    },\n    status: {\n      privacyStatus: uploadVisibility,\n      selfDeclaredMadeForKids: Boolean($json.youtube_self_declared_made_for_kids),\n    },\n  };\n\n  if (tags.length > 0) {\n    metadata.snippet.tags = tags;\n  }\n\n  const initResponse = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://www.googleapis.com/upload/youtube/v3/videos',\n    qs: {\n      uploadType: 'resumable',\n      part: 'snippet,status',\n      notifySubscribers: $json.youtube_notify_subscribers ? 'true' : 'false',\n    },\n    headers: {\n      Authorization: 'Bearer ' + accessToken,\n      'Content-Type': 'application/json; charset=UTF-8',\n      'X-Upload-Content-Length': String(clipBuffer.length),\n      'X-Upload-Content-Type': mimeType,\n    },\n    body: metadata,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  const initStatus = initResponse?.statusCode || initResponse?.status || 0;\n  if (initStatus >= 400) {\n    return buildFailure('Init upload YouTube gagal :: status=' + String(initStatus) + ' :: ' + stringifyBody(initResponse?.body));\n  }\n\n  const location = initResponse && initResponse.headers\n    ? String(initResponse.headers.location || initResponse.headers.Location || '')\n    : '';\n\n  if (!location) {\n    return buildFailure('Google tidak mengembalikan upload location untuk resumable upload.');\n  }\n\n  const uploadResponseRaw = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: location,\n    headers: {\n      'Content-Type': mimeType,\n    },\n    body: clipBuffer,\n    timeout: 300000,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  const uploadStatus = uploadResponseRaw?.statusCode || uploadResponseRaw?.status || 0;\n  const uploadBody = uploadResponseRaw && Object.prototype.hasOwnProperty.call(uploadResponseRaw, 'body')\n    ? uploadResponseRaw.body\n    : uploadResponseRaw;\n  const uploadBodyText = stringifyBody(uploadBody);\n\n  if (uploadStatus >= 400) {\n    const reconciled = await findReconciledVideo.call(this, accessToken);\n    if (reconciled) {\n      return buildSuccess(reconciled);\n    }\n    return buildFailure('Upload chunk YouTube gagal :: status=' + String(uploadStatus) + ' :: ' + uploadBodyText);\n  }\n\n  const uploadResponse = typeof uploadBody === 'object' && uploadBody !== null && !Buffer.isBuffer(uploadBody)\n    ? uploadBody\n    : JSON.parse(uploadBodyText || '{}');\n\n  const videoId = uploadResponse && uploadResponse.id ? String(uploadResponse.id) : '';\n  if (!videoId) {\n    const reconciled = await findReconciledVideo.call(this, accessToken);\n    if (reconciled) {\n      return buildSuccess(reconciled);\n    }\n    return buildFailure('Upload YouTube selesai tapi video id tidak ditemukan di respons API. Respons: ' + uploadBodyText.slice(0, 1000));\n  }\n\n  let videoState;\n  let processingState;\n  let currentPrivacy = uploadVisibility;\n  try {\n    videoState = await getVideoState.call(this, accessToken, videoId);\n    processingState = normalizeProcessingState(videoState);\n    if (processingState.isTerminalFailure) {\n      return buildFailure('YouTube menandai upload gagal/ditolak :: status=' + processingState.normalized + ' :: failure=' + String(videoState?.status?.failureReason || videoState?.status?.rejectionReason || videoState?.processingDetails?.processingFailureReason || 'unknown'));\n    }\n    currentPrivacy = String(videoState?.status?.privacyStatus || uploadVisibility);\n  } catch (statusError) {\n    return buildPendingSuccess({\n      youtube_video_id: videoId,\n      youtube_watch_url: 'https://www.youtube.com/watch?v=' + videoId,\n      youtube_shorts_url: 'https://www.youtube.com/shorts/' + videoId,\n      youtube_studio_url: 'https://studio.youtube.com/video/' + videoId + '/edit',\n      youtube_uploaded_title: title,\n      youtube_uploaded_description: description,\n      youtube_uploaded_hashtags: hashtags,\n      youtube_uploaded_tags: tags,\n      youtube_privacy_status_effective: uploadVisibility,\n      youtube_target_visibility: desiredVisibility,\n      youtube_processing_status: 'unknown',\n      youtube_processing_status_raw: null,\n      youtube_processing_status_source: 'status_check_failed_after_upload',\n      youtube_publish_mode: 'new_upload',\n      youtube_status_context: 'upload_completed_status_check_failed',\n      youtube_status_checked_at: new Date().toISOString(),\n      youtube_processing_wait_seconds: processingWaitSeconds,\n      youtube_existing_result_status: existingResultStatus,\n      youtube_existing_result_published_at: existingResultPublishedAt,\n      youtube_status_check_error: statusError.message || 'Gagal cek status video setelah upload.',\n      youtube_api_response: uploadResponse,\n    });\n  }\n\n  if (!processingState.isComplete) {\n    const waited = await waitForProcessingCompletion.call(this, accessToken, videoId, videoState);\n    videoState = waited.videoState;\n    processingState = waited.processingState;\n    currentPrivacy = String(videoState?.status?.privacyStatus || currentPrivacy || uploadVisibility);\n\n    if (processingState.isTerminalFailure) {\n      return buildFailure('YouTube menandai upload gagal/ditolak :: status=' + processingState.normalized + ' :: failure=' + String(videoState?.status?.failureReason || videoState?.status?.rejectionReason || videoState?.processingDetails?.processingFailureReason || 'unknown'));\n    }\n\n    if (!processingState.isComplete) {\n      return buildPendingSuccess({\n        youtube_video_id: videoId,\n        youtube_watch_url: 'https://www.youtube.com/watch?v=' + videoId,\n        youtube_shorts_url: 'https://www.youtube.com/shorts/' + videoId,\n        youtube_studio_url: 'https://studio.youtube.com/video/' + videoId + '/edit',\n        youtube_uploaded_title: title,\n        youtube_uploaded_description: description,\n        youtube_uploaded_hashtags: hashtags,\n        youtube_uploaded_tags: tags,\n        youtube_privacy_status_effective: currentPrivacy,\n        youtube_target_visibility: desiredVisibility,\n        youtube_processing_status: processingState.normalized,\n        youtube_processing_status_raw: processingState.raw,\n        youtube_processing_status_source: processingState.source,\n        youtube_publish_mode: 'new_upload',\n        youtube_status_context: waited.timedOut ? 'processing_wait_timeout_new_upload' : 'upload_accepted_waiting_processing',\n        youtube_status_checked_at: new Date().toISOString(),\n        youtube_processing_wait_seconds: processingWaitSeconds,\n        youtube_existing_result_status: existingResultStatus,\n        youtube_existing_result_published_at: existingResultPublishedAt,\n        youtube_api_response: videoState,\n      });\n    }\n  }\n\n  const visibilityUpdate = await updateVisibility.call(this, accessToken, videoId, videoState);\n  return buildSuccess({\n    youtube_video_id: videoId,\n    youtube_watch_url: 'https://www.youtube.com/watch?v=' + videoId,\n    youtube_shorts_url: 'https://www.youtube.com/shorts/' + videoId,\n    youtube_studio_url: 'https://studio.youtube.com/video/' + videoId + '/edit',\n    youtube_uploaded_title: title,\n    youtube_uploaded_description: description,\n    youtube_uploaded_hashtags: hashtags,\n    youtube_uploaded_tags: tags,\n    youtube_privacy_status_effective: visibilityUpdate.privacyStatus,\n    youtube_target_visibility: desiredVisibility,\n    youtube_processing_status: 'succeeded',\n    youtube_processing_status_raw: processingState.raw,\n    youtube_processing_status_source: processingState.source,\n    youtube_visibility_pending: false,\n    youtube_publish_mode: 'new_upload',\n    youtube_status_context: 'upload_completed_and_visibility_synced',\n    youtube_status_checked_at: new Date().toISOString(),\n    youtube_processing_wait_seconds: processingWaitSeconds,\n    youtube_existing_result_status: existingResultStatus,\n    youtube_existing_result_published_at: existingResultPublishedAt,\n    youtube_api_response: visibilityUpdate.raw,\n  });\n} catch (error) {\n  const reconciled = await findReconciledVideo.call(this, accessToken);\n  if (reconciled) {\n    return buildSuccess(reconciled);\n  }\n\n  const responseBody = error?.response?.body ?? error?.response?.data ?? error?.context ?? error?.cause ?? null;\n  const responseText = stringifyBody(responseBody);\n  const statusCode = error?.statusCode || error?.response?.statusCode || error?.response?.status || null;\n  const parts = [];\n  if (error?.message) parts.push(String(error.message));\n  if (statusCode) parts.push('status=' + String(statusCode));\n  if (responseText) parts.push(responseText);\n  return buildFailure(parts.join(' :: ') || 'Gagal upload ke YouTube Data API.');\n}"
      },
      "id": "c63c768d-fcc1-416c-8682-702e7f2dc3ee",
      "name": "Publish YouTube via API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "126235c9-b362-4621-b68b-919ec41ae2d4",
              "leftValue": "={{ $json.publish_upload_status }}",
              "rightValue": "uploaded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91f11428-b55e-4ff8-879a-d89a69c1cbb2",
      "name": "Upload Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const isPending = Boolean($json.youtube_visibility_pending);\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS',\n  status: isPending ? 'YOUTUBE_PROCESSING_PENDING' : 'YOUTUBE_UPLOADED',\n  published_at: $json.published_at || new Date().toISOString(),\n  status_checked_at: $json.youtube_status_checked_at || new Date().toISOString(),\n  status_context: $json.youtube_status_context || null,\n  publish_mode: $json.youtube_publish_mode || (isPending ? 'reconcile_existing_video' : 'new_upload'),\n  existing_result_status_before_run: $json.youtube_existing_result_status || null,\n  existing_result_published_at: $json.youtube_existing_result_published_at || null,\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  youtube_publish_result_path: String($json.youtube_publish_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_path: String($json.clip_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_index: $json.clip_index || null,\n  clip_id: $json.clip_id || null,\n  file_name: $json.file_name || null,\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  platform: 'youtube_shorts',\n  approval_mode: $json.approval_mode || 'required',\n  approval_bypassed: Boolean($json.approval_bypassed),\n  privacy_status: $json.youtube_privacy_status_effective || 'private',\n  target_visibility: $json.youtube_target_visibility || $json.youtube_privacy_status || 'private',\n  processing_status: $json.youtube_processing_status || null,\n  processing_status_raw: $json.youtube_processing_status_raw || $json.youtube_processing_status || null,\n  processing_status_source: $json.youtube_processing_status_source || null,\n  video_id: $json.youtube_video_id || null,\n  youtube_watch_url: $json.youtube_watch_url || null,\n  youtube_shorts_url: $json.youtube_shorts_url || ($json.youtube_video_id ? 'https://www.youtube.com/shorts/' + $json.youtube_video_id : null),\n  youtube_studio_url: $json.youtube_studio_url || null,\n  title: $json.youtube_uploaded_title || $json.title || null,\n  description: $json.youtube_uploaded_description || $json.description || null,\n  hashtags: $json.youtube_uploaded_hashtags || $json.hashtags || [],\n  next_stage: null,\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    youtube_publish_result_payload: result,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: String($json.youtube_publish_result_path || 'youtube_publish_result.json').split('/').pop(),\n    }\n  }\n};"
      },
      "id": "ce1660a4-74b9-4f40-a004-d20a208ab2a8",
      "name": "Build Success YouTube Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.youtube_publish_result_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "7b828828-c7ab-474f-a87e-746852e3f832",
      "name": "Write Success YouTube Result",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1240,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const errorMessage = String($json.publish_error || 'Upload YouTube gagal tanpa detail.');\nconst lower = errorMessage.toLowerCase();\nlet errorCode = 'YOUTUBE_UPLOAD_ERROR';\nlet retryHint = 'Cek detail error_message lalu rerun setelah masalah diperbaiki.';\n\nif (lower.includes('uploadlimitexceeded') || lower.includes('quota exceeded') || lower.includes('rate_limit_exceeded') || lower.includes('ratelimitexceeded') || lower.includes('resource_exhausted')) {\n  errorCode = 'YOUTUBE_UPLOAD_LIMIT_EXCEEDED';\n  retryHint = 'Tunggu reset limit upload YouTube lalu rerun WF-03. Jangan spam rerun saat limit masih aktif.';\n} else if (lower.includes('google oauth') || lower.includes('access_token') || lower.includes('oauth')) {\n  errorCode = 'YOUTUBE_AUTH_ERROR';\n  retryHint = 'Perbarui refresh token / OAuth config lalu rerun WF-03.';\n} else if (lower.includes('approval_mode masih required')) {\n  errorCode = 'YOUTUBE_APPROVAL_BLOCKED';\n  retryHint = 'Ubah config approval atau jalankan flow approval dulu.';\n} else if (lower.includes('tidak ditemukan')) {\n  errorCode = 'YOUTUBE_VIDEO_NOT_FOUND';\n  retryHint = 'Periksa file result existing atau upload ulang clip terkait.';\n}\n\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-03_PUBLISH_YOUTUBE_SHORTS',\n  status: 'YOUTUBE_UPLOAD_FAILED',\n  published_at: $json.published_at || new Date().toISOString(),\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  caption_result_path: String($json.caption_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  youtube_publish_result_path: String($json.youtube_publish_result_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_path: String($json.clip_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_index: $json.clip_index || null,\n  clip_id: $json.clip_id || null,\n  file_name: $json.file_name || null,\n  source_video_url: $json.source_video_url || null,\n  source_video_id: $json.source_video_id || null,\n  platform: 'youtube_shorts',\n  approval_mode: $json.approval_mode || 'required',\n  approval_bypassed: false,\n  privacy_status: $json.youtube_privacy_status || 'private',\n  error_code: errorCode,\n  error_message: errorMessage,\n  retry_hint: retryHint,\n  next_stage: null,\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: {\n    ...$json,\n    youtube_publish_result_payload: result,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: String($json.youtube_publish_result_path || 'youtube_publish_result.json').split('/').pop(),\n    }\n  }\n};"
      },
      "id": "c1ced692-6ca3-4352-a3c2-01744769d447",
      "name": "Build YouTube Failure Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        460
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.youtube_publish_result_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "483aab36-f91d-4557-b3cb-f1eec0d0e557",
      "name": "Save YouTube Failure Report",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "function normalizeRepoPath(value) {\n  if (!value) return null;\n  return String(value).replace(/^\\.\\//, '').replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n  const normalized = normalizeRepoPath(value);\n  if (normalized.startsWith('/files/')) return normalized;\n  if (normalized.startsWith('shared/')) return '/files/' + normalized.slice('shared/'.length);\n  if (normalized.startsWith('/')) return normalized;\n  return '/files/' + normalized;\n}\n\nconst binaryFieldName = $binary ? Object.keys($binary)[0] : null;\nlet existingYoutubeResult = null;\nlet existingYoutubeStatus = null;\n\nif (binaryFieldName) {\n  try {\n    const rawBuffer = await this.helpers.getBinaryDataBuffer(0, binaryFieldName);\n    const raw = rawBuffer.toString('utf8').replace(/^\\uFEFF/, '');\n    existingYoutubeResult = JSON.parse(raw);\n    existingYoutubeStatus = existingYoutubeResult && existingYoutubeResult.status ? String(existingYoutubeResult.status) : null;\n  } catch (error) {\n    existingYoutubeResult = null;\n    existingYoutubeStatus = null;\n  }\n}\n\nlet manifestPath = toContainerPath($json.manifest_path);\nconst captionResultPath = toContainerPath($json.caption_result_path);\nconst youtubePublishResultPath = toContainerPath($json.youtube_publish_result_path);\n\nif (!manifestPath && captionResultPath) {\n  manifestPath = captionResultPath.replace(/caption_result\\.json$/, 'manifest.json');\n}\nif (!manifestPath && youtubePublishResultPath) {\n  manifestPath = youtubePublishResultPath.replace(/youtube_publish_result(?:_[^/]+)?\\.json$/, 'manifest.json');\n}\n\nreturn {\n  json: {\n    ...$json,\n    manifest_path: manifestPath,\n    caption_result_path: captionResultPath,\n    youtube_publish_result_path: youtubePublishResultPath,\n    existing_youtube_result: existingYoutubeResult,\n    existing_youtube_status: existingYoutubeStatus,\n    youtube_existing_result_status: existingYoutubeStatus,\n    youtube_existing_result_published_at: existingYoutubeResult?.published_at || null,\n    legacy_youtube_result: existingYoutubeResult,\n    legacy_youtube_status: existingYoutubeStatus,\n  }\n};"
      },
      "id": "8d6e7f3b-5f8b-4c0b-8a4d-parseexistingyt01",
      "name": "Parse Existing YouTube Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1720,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const hasManifestBinary = Boolean($binary && $binary.data);\nreturn {\n  json: {\n    ...$json,\n    manifest_binary_available: hasManifestBinary,\n    manifest_read_error: hasManifestBinary ? null : ('Manifest file tidak terbaca dari path: ' + String($json.manifest_path || 'null')),\n  },\n  binary: $binary,\n};"
      },
      "id": "0f7d8c2d-manifestcheck-ytpublish01",
      "name": "Check Manifest Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1060,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "manifest-binary-available-check",
              "leftValue": "={{ $json.manifest_binary_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true,
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7f2e8c1-manifestreadok-ytpublish01",
      "name": "Manifest Read OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -840,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    ...$json,\n    publish_upload_status: 'failed',\n    publish_error: $json.manifest_read_error || 'Manifest file tidak terbaca.',\n    published_at: new Date().toISOString(),\n  }\n};"
      },
      "id": "6a9d4b22-manifestfailure-ytpublish01",
      "name": "Build Manifest Read Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        460
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Caption Result Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Caption Result Files": {
      "main": [
        [
          {
            "node": "Extract Caption Result JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Caption Result JSON": {
      "main": [
        [
          {
            "node": "Parse Caption Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Caption Result": {
      "main": [
        [
          {
            "node": "Eligible For YouTube Publish?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eligible For YouTube Publish?": {
      "main": [
        [
          {
            "node": "Read Manifest File",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Already Published?": {
      "main": [
        [],
        [
          {
            "node": "Read YouTube Config File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Manifest File": {
      "main": [
        [
          {
            "node": "Extract Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Manifest JSON": {
      "main": [
        [
          {
            "node": "Parse Publish Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Publish Manifest": {
      "main": [
        [
          {
            "node": "Read Existing YouTube Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Publish Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read YouTube Config File": {
      "main": [
        [
          {
            "node": "Inject YouTube Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject YouTube Config": {
      "main": [
        [
          {
            "node": "Read Clip File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Clip File": {
      "main": [
        [
          {
            "node": "Publish YouTube via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish YouTube via API": {
      "main": [
        [
          {
            "node": "Upload Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Succeeded?": {
      "main": [
        [
          {
            "node": "Build Success YouTube Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build YouTube Failure Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success YouTube Result": {
      "main": [
        [
          {
            "node": "Write Success YouTube Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build YouTube Failure Report": {
      "main": [
        [
          {
            "node": "Save YouTube Failure Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Existing YouTube Result": {
      "main": [
        [
          {
            "node": "Already Published?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing YouTube Result": {
      "main": [
        [
          {
            "node": "Merge Publish Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Publish Context": {
      "main": [
        [
          {
            "node": "Parse Existing YouTube Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ad751e4a-4cf2-4a30-9e71-055d8ce8984c",
  "activeVersionId": null,
  "versionCounter": 16,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-06T14:03:33.028Z",
      "createdAt": "2026-04-06T14:03:33.028Z",
      "role": "workflow:owner",
      "workflowId": "wf04YoutubePublishAuto01",
      "projectId": "azKshke2Na2MjhqP",
      "project": {
        "updatedAt": "2026-04-03T03:05:05.080Z",
        "createdAt": "2026-04-01T15:13:37.330Z",
        "id": "azKshke2Na2MjhqP",
        "name": "Kahfi Smith <alkahfiidev@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "51bd82c2-eb7e-4495-87d4-cabc19896c4f"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}
