shared/imports/wf-01-intake-clip-validate-assets.json
{
  "id": "wf01IntakeAutoSchedG8",
  "name": "WF-01 Intake Clip + Validate Assets",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "f6108617-b50b-4d75-a6f6-df88b50ee2c4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1060,
        260
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/ready/*/manifest.json",
        "dataPropertyName": "data"
      },
      "id": "48cc4f71-af60-42c3-9ad9-2df7f4eefcb2",
      "name": "Read Manifest Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        -840,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  try {\n    const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n    const text = buffer.toString('utf8').replace(/^\\uFEFF/, '');\n    output.push({\n      json: {\n        ...item.json,\n        \"manifest\": JSON.parse(text),\n      },\n      binary: item.binary,\n      pairedItem: { item: i },\n    });\n  } catch (error) {\n    if (item.json && item.json.error) {\n      output.push({ json: item.json, binary: item.binary, pairedItem: { item: i } });\n      continue;\n    }\n    throw error;\n  }\n}\nreturn output;"
      },
      "id": "6b3fb952-d17b-4a94-b040-20db57360919",
      "name": "Extract Manifest JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const manifest = $json.manifest || {};\n\nfunction normalizeSlashes(value) {\n  return String(value).replace(/\\\\/g, '/');\n}\n\nfunction toContainerPath(value) {\n  if (!value) return null;\n\n  var normalized = normalizeSlashes(value);\n\n  if (normalized.indexOf('./') === 0) {\n    normalized = normalized.slice(2);\n  }\n\n  if (normalized.indexOf('/files/') === 0) {\n    return normalized;\n  }\n\n  if (normalized.indexOf('shared/') === 0) {\n    return '/files/' + normalized.slice('shared/'.length);\n  }\n\n  if (normalized.charAt(0) === '/') {\n    return normalized;\n  }\n\n  return '/files/' + normalized;\n}\n\nfunction toRepoRelative(value) {\n  if (!value) return null;\n\n  var normalized = normalizeSlashes(value);\n\n  if (normalized.indexOf('/files/') === 0) {\n    return 'shared/' + normalized.slice('/files/'.length);\n  }\n\n  return normalized;\n}\n\nfunction dirname(value) {\n  if (!value) return null;\n  var normalized = normalizeSlashes(value).replace(/\\/$/, '');\n  var idx = normalized.lastIndexOf('/');\n  return idx === -1 ? null : normalized.slice(0, idx);\n}\n\nconst validationErrors = [];\n\nif (!manifest.job_id) validationErrors.push('job_id kosong');\nif (manifest.status !== 'ready') validationErrors.push('status harus ready');\nif (!manifest.clip_path) validationErrors.push('clip_path kosong');\nif (!Array.isArray(manifest.clips) || manifest.clips.length === 0) validationErrors.push('clips kosong');\nif (!Array.isArray(manifest.platform_targets) || manifest.platform_targets.length === 0) validationErrors.push('platform_targets kosong');\nif (!manifest.approval_mode) validationErrors.push('approval_mode kosong');\n\nconst clipPathRepo = toRepoRelative(manifest.clip_path);\nconst clipPathAbs = toContainerPath(manifest.clip_path);\nconst jobDirAbs = dirname(clipPathAbs);\nconst manifestPath = jobDirAbs ? (jobDirAbs + '/manifest.json') : '/files/ready/unknown/manifest.json';\nconst intakeResultPath = jobDirAbs ? (jobDirAbs + '/intake_result.json') : '/files/ready/unknown/intake_result.json';\n\nreturn {\n  json: {\n    manifest_path: manifestPath,\n    intake_result_path: intakeResultPath,\n    workflow_status: validationErrors.length === 0 ? 'valid' : 'invalid',\n    validation_errors: validationErrors,\n    job_id: manifest.job_id || null,\n    status: manifest.status || null,\n    approval_mode: manifest.approval_mode || null,\n    platform_targets: manifest.platform_targets || [],\n    clip_path: clipPathRepo,\n    clip_path_abs: clipPathAbs,\n    transcript_path_abs: toContainerPath(manifest.transcript_path),\n    thumbnail_path_abs: toContainerPath(manifest.thumbnail_path),\n    clips: (manifest.clips || []).map(function (clip, index) {\n      return {\n        clip_id: clip.clip_id || ('clip_' + (index + 1)),\n        file_name: clip.file_name || null,\n        clip_path: clip.clip_path || null,\n        clip_path_abs: toContainerPath(clip.clip_path)\n      };\n    }),\n    manifest: manifest\n  }\n};",
        "notice": ""
      },
      "id": "f1766899-4c99-412b-a78c-a5d6205be76e",
      "name": "Parse Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        260
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.intake_result_path }}",
        "dataPropertyName": "data"
      },
      "id": "5b56b4fb-b373-4475-8d92-d6fcd8095648",
      "name": "Read Existing Intake Result",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -480,
        260
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "4e7d335d-c0ba-432e-b2d5-f5d8343cd4f0",
      "name": "Merge Existing Intake Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -360,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1e771328-f40d-4e0f-a4ec-22f6a1ee1a17",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "intake_result.json",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9972cb28-4dbe-4892-ab69-f8a677914fa1",
      "name": "Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -360,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "faf1ed74-38ee-4a68-bfe4-a40f4af80995",
              "leftValue": "={{ $json.workflow_status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cd1c7da-c4ab-451c-8418-90a9fe111e1a",
      "name": "Manifest Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -120,
        260
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.clip_path_abs }}",
        "dataPropertyName": "data"
      },
      "id": "fc8287e1-2b9b-4492-b9d4-bb5b4e1f2bea",
      "name": "Read Clip File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        120,
        160
      ],
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "17800e59-49df-4e6d-b5a8-f00c2ddd25a0",
      "name": "Merge Success Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        360,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const checkedAt = new Date().toISOString();\nconst result = {\n  job_id: $json.job_id,\n  stage: 'WF-01_INTAKE',\n  status: 'ASSETS_VALID',\n  checked_at: checkedAt,\n  manifest_path: String($json.manifest_path || '').replace(/^\\/files\\//, 'shared/'),\n  clip_path: $json.clip_path || null,\n  validation_errors: [],\n  platform_targets: $json.platform_targets || []\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: Object.assign({}, $json, {\n    intake_result_status: result.status,\n    intake_result_payload: result\n  }),\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'intake_result.json'\n    }\n  }\n};",
        "notice": ""
      },
      "id": "51ff4a74-3212-43bf-bd52-6a528e28390e",
      "name": "Build Success Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.intake_result_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "5dbd276e-a3f1-4601-a1bb-d0b6c5eea158",
      "name": "Write Success Result",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1200,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const checkedAt = new Date().toISOString();\nconst manifestPath = $json.manifest_path || null;\nconst result = {\n  job_id: $json.job_id || null,\n  stage: 'WF-01_INTAKE',\n  status: 'ASSETS_INVALID',\n  checked_at: checkedAt,\n  manifest_path: manifestPath ? String(manifestPath).replace(/^\\/files\\//, 'shared/') : null,\n  clip_path: $json.clip_path || null,\n  validation_errors: $json.validation_errors || ['Manifest invalid tanpa detail'],\n  platform_targets: $json.platform_targets || []\n};\nconst content = JSON.stringify(result, null, 2) + '\\n';\nreturn {\n  json: Object.assign({}, $json, {\n    intake_result_status: result.status,\n    intake_result_payload: result\n  }),\n  binary: {\n    data: {\n      data: Buffer.from(content, 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'intake_result.json'\n    }\n  }\n};",
        "notice": ""
      },
      "id": "ca327e9e-c0c4-4f4e-95f1-dff40f815da0",
      "name": "Build Failure Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "fileName": "={{ $json.intake_result_path }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "686e13db-cdc9-436a-8ca2-7065496a0457",
      "name": "Write Failure Result",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const binaryFieldName = $binary ? Object.keys($binary)[0] : null;\nconst currentErrors = Array.isArray($json.validation_errors) ? [...$json.validation_errors] : [];\nconst clipReadOk = Boolean(binaryFieldName);\nif (!clipReadOk) {\n  currentErrors.push('clip utama tidak dapat dibaca dari path: ' + String($json.clip_path_abs || $json.clip_path || 'unknown'));\n}\nreturn {\n  json: {\n    ...$json,\n    clip_read_ok: clipReadOk,\n    validation_errors: currentErrors,\n  },\n  binary: $binary || undefined,\n};",
        "notice": ""
      },
      "id": "06e6dcb3-0ab7-4f09-982d-e6728fe3cb55",
      "name": "Check Clip Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9fdc0d44-bb51-474d-b760-c2d8dd44a4d4",
              "leftValue": "={{ $json.clip_read_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "70735190-1117-4d89-a1d0-e72bf6b9b7f7",
      "name": "Clip Read OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Manifest Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Manifest Files": {
      "main": [
        [
          {
            "node": "Extract Manifest JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Manifest JSON": {
      "main": [
        [
          {
            "node": "Parse Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manifest": {
      "main": [
        [
          {
            "node": "Read Existing Intake Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Existing Intake Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Intake Result": {
      "main": [
        [
          {
            "node": "Merge Existing Intake Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Existing Intake Context": {
      "main": [
        [
          {
            "node": "Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Processed?": {
      "main": [
        [],
        [
          {
            "node": "Manifest Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manifest Valid?": {
      "main": [
        [
          {
            "node": "Read Clip File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Success Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Clip File": {
      "main": [
        [
          {
            "node": "Merge Success Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Success Context": {
      "main": [
        [
          {
            "node": "Check Clip Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Result": {
      "main": [
        [
          {
            "node": "Write Success Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Result": {
      "main": [
        [
          {
            "node": "Write Failure Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Clip Read": {
      "main": [
        [
          {
            "node": "Clip Read OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clip Read OK?": {
      "main": [
        [
          {
            "node": "Build Success Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Failure Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "versionId": "77e3d171-7fb8-48d7-88cf-33678c2cfcc9",
  "triggerCount": 0,
  "tags": []
}
